<span class="forgot-link" (click)="openModal()">Forgot your Password?</span>
<ng-template #modalTemplate>
  <div id="recover-password-modal">
    <div class="recover-password-content" [class.mobile]="isMobile">
      <div class="recover-password-close-wrapper" (click)="closeModal()">
        <div class="recover-password-cover">
          <div class="recover-password-cross"></div>
        </div>
      </div>

      <div class="recover-password-body">
        <div class="recover-password-shadow">
          <div class="recover-password-wrapper">
            <div class="recover-password-cover" [ngSwitch]="tab">
              <app-email-number-sender *ngSwitchCase="1" (emitTabValue)="getTabValue($event)" [isMobile]="isMobile"></app-email-number-sender>
              <app-verify-code *ngSwitchCase="2" (emitTabValue)="getTabValue($event)" [isMobile]="isMobile"></app-verify-code>
              <app-create-new-password *ngSwitchCase="3" (closeRecoverPassword)="closeRecoverPassword($event)" [isMobile]="isMobile"></app-create-new-password>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
