@import "src/mixins/styles-mixin";
@import "src/styles/colors";

.forgot-link {
  display: flex;
  white-space: nowrap;
  align-items: center;
  height: 100%;
  font-size: clamp(14px, 0vw, 18px);
  font-weight: 500;
  line-height: normal;
  color: $white;
  padding-left: 10px;
  cursor: pointer;
  &:hover {
    text-shadow: 1px 1px 2px $layout-bg, 0 0 1em $layout-bg,
      0 0 0.2em $layout-bg;
  }
}
