@import "src/mixins/styles-mixin";
@import "src/styles/colors";
:host {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 10px;
  gap: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  &__header {
    position: relative;
    display: flex;
    width: 100%;
    height: 7%;
    min-height: 25px;
    &--info {
      position: absolute;
      cursor: pointer;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 25px;
      min-height: 25px;
      background: $lighter-gray;
      border: 1px solid $yellow;
      border-top: 0;
      border-radius: 100%;
      color: $yellow;
      font-size: 16px;
      filter: drop-shadow(0px 1px 1px #000000);
    }
    &--title {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      &__text {
        font-size: clamp(16px, 3vw, 30px);
        position: absolute;
        font-weight: 700;
        color: $yellow;
        margin-bottom: 15px;
      }
      &__wrapper {
        @include modal-title-vector;
        background: $yellow;
        width: 70%;
        height: 100%;
      }
      &__decor {
        @include modal-title-decor;
        position: absolute;
        background: $yellow;
        width: 12%;
        height: 16%;
        bottom: -1px;
      }
    }
  }
  &__tabs {
    width: 100%;
    min-height: 35px;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__numbers {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      &--line {
        margin: 0 5px;
        height: 1px;
        width: 15%;
      }
      &--number {
        font-size: clamp(10px, 1.1vw, 18px);
        color: $yellow;
        max-width: 20px;
        max-height: 20px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &__rectangles {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      &__stroke {
        @include modal-step-cube;
        background: $yellow;
        max-width: 20px;
        max-height: 20px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &--cover {
          @include modal-step-cube;
          background: $light-gray;
          width: calc(100% - 3px);
          height: calc(100% - 3px);
          display: flex;
          align-items: center;
          justify-content: center;
          &--inner {
            @include modal-step-cube;
            width: calc(100% - 5px);
            height: calc(100% - 5px);
            &.active {
              background: $yellow;
            }
          }
        }
      }
      &--line {
        background: $yellow;
        height: 1px;
        width: 15%;
        margin: 0 5px;
      }
    }
  }
  &--form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    &__firstStepForm,
    &__secondStepForm {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      .form-1-content {
        width: 100%;
        height: 100%;
        filter: drop-shadow(2px 2px 4px #00000067);
        .light {
          .row {
            .label {
              input {
                background: $light-gray;
              }
            }
          }
        }
        .dark {
          .row {
            .label {
              input {
                background: linear-gradient(#1c1c23 0%, #2d2d37 100%);
              }
            }
          }
        }
        form {
          width: calc(100% - 20px);
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          gap: 5px;
          padding: 10px;
          min-height: 265px;
          .row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            .phone-code {
              max-width: 35%;
            }
            .margin-left {
              margin-left: -5px;
            }
            .margin-right {
              margin-right: -5px;
            }
            .upload-wrapper {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              position: relative;
              width: 100%;
              height: 100%;
              gap: 5px;
              .upload-wrapper-label {
                width: calc(100% - 40px);
              }
            }
            .label {
              display: flex;
              align-items: center;
              justify-content: center;
              max-height: 40px;
              width: calc(100% - 40px);
              height: 100%;
              padding: 1px;
              &.left {
                @include input-left;
                background: $border-gradient-to-right;
                border-radius: 20px 0 0 20px;
                .input {
                  @include input-left-cover;
                  padding: 0 15px;
                  border-radius: 20px 0 0 20px;
                }
                &.error {
                  background: $border-gradient-to-right-error;
                }
                &.success {
                  background: $border-gradient-to-right-success;
                }
              }
              &.right {
                @include input-right;
                background: $border-gradient-to-left;
                border-radius: 0 20px 20px 0;
                .input {
                  @include input-right-cover;
                  padding: 0 20px;
                  border-radius: 0 20px 20px 0;
                }
                &.error {
                  background: $border-gradient-to-left-error;
                }
                &.success {
                  background: $border-gradient-to-left-success;
                }
              }
            }
            .upload-file {
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 32px;
              height: 28px;
              border-top: 0;
              border-radius: 100%;
              filter: drop-shadow(4px 8px 16px rgba(0, 0, 0, 0.2));
              border: 1px solid $yellow;
              transition: transform 0.5ms ease;
              & input {
                border-radius: 100%;
              }
              &.light {
                background: $light-gray;
              }
              &.dark {
                background: linear-gradient(#1c1c23 0%, #2d2d37 100%);
              }
              .line {
                width: 50%;
                height: 2px;
                background: $red;
                border-radius: 1px;
              }
              svg {
                fill: $yellow;
                width: 50%;
                height: 50%;
              }
              &:hover {
                transform: scale(1.15);
              }
            }
          }
        }
      }
      .form-2-content {
        width: calc(100% - 20px);
        height: 100%;
        filter: drop-shadow(2px 2px 4px #00000067);
        .light {
          .row {
            .label {
              input {
                background: $light-gray;
              }
            }
          }
        }
        .dark {
          .row {
            .label {
              input {
                background: linear-gradient(#1c1c23 0%, #2d2d37 100%);
              }
            }
          }
        }
        form {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          gap: 5px;
          min-height: 265px;
          .row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            flex: 1;
            &.selections {
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              gap: 5px;
              flex: 2;
              margin-bottom: 10px;
            }
            .margin-left {
              margin-left: -5px;
            }
            .margin-right {
              margin-right: -5px;
            }
            .label {
              display: flex;
              align-items: center;
              justify-content: center;
              max-height: 40px;
              width: 100%;
              height: 100%;
              padding: 1px;
              &.left {
                @include input-left;
                background: $border-gradient-to-right;
                border-radius: 20px 0 0 20px;
                .input {
                  @include input-left-cover;
                  padding: 0 15px;
                  border-radius: 20px 0 0 20px;
                }
                &.error {
                  background: $border-gradient-to-right-error;
                }
                &.success {
                  background: $border-gradient-to-right-success;
                }
              }
              &.right {
                @include input-right;
                background: $border-gradient-to-left;
                border-radius: 0 20px 20px 0;
                .input {
                  @include input-right-cover;
                  padding: 0 20px;
                  border-radius: 0 20px 20px 0;
                }
                &.error {
                  background: $border-gradient-to-left-error;
                }
                &.success {
                  background: $border-gradient-to-left-success;
                }
              }
              &.squad-small {
                @include squad-small;
                background: $border-gradient-to-left;
                border-radius: 5px;
                margin: 0;
                .input {
                  @include squad-small;
                  padding: 0 20px;
                  border-radius: 5px;
                }
                &.error {
                  background: $border-gradient-to-left-error;
                }
                &.success {
                  background: $border-gradient-to-left-success;
                }
              }
            }
            .applyBtn {
              width: 40%;
              margin-left: 10px;
              &__shadow {
                width: 100%;
                height: 100%;
                filter: drop-shadow(4px 8px 16px rgba(0, 0, 0, 0.3));
                &__wrapper--squad {
                  @include squad-small;
                  width: 100%;
                  height: 100%;
                  padding: 1px;
                  background: $yellow;
                  &__cover {
                    @include squad-small;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    min-height: 40px;
                    background: rgba($layout-bg, 0.5);
                    color: $white;
                    cursor: pointer;
                  }
                }
              }
              &:hover {
                opacity: 0.8;
              }
            }
            .checkboxes {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: center;
              width: 100%;
              height: 100%;
              gap: 10px;
              &__shadow {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: nowrap;
                width: 100%;
                height: 30px;
                filter: drop-shadow(4px 8px 16px rgba(0, 0, 0, 0.3));
                span {
                  color: rgba($white, 0.8);
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: normal;
                }
                &__wrapper {
                  @include form-checkbox;
                  margin-right: 5px;
                  width: 100%;
                  height: 100%;
                  width: 25px;
                  height: 25px;
                  aspect-ratio: 1/1;
                  background: $lighter-gray;
                  padding: 1px;
                  &.checked {
                    background: $yellow;
                  }
                  &--input {
                    @include form-checkbox;
                    background: $dark-gray;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                  }
                  &--input[type="checkbox"]:checked:after {
                    content: "\2713";
                    display: flex;
                    color: $yellow;
                  }
                  &--input[type="checkbox"] {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    appearance: none;
                    box-shadow: none;
                  }
                }
              }
            }
          }
        }
      }
      &__footer {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        max-height: 25px;
        &--have-account {
          display: flex;
          white-space: nowrap;
          align-items: center;
          height: 100%;
          width: 100%;
          font-size: clamp(12px, 1vw, 16px);
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          color: $white;
          letter-spacing: 1px;
        }
        &--nextBtn {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          &__wrapper {
            background: $yellow;
            min-width: 70px;
            min-height: 25px;
            width: 50%;
            &--cover {
              background: rgba($layout-bg, 0.5);
            }
          }
        }
        &--prevBtn {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          &__wrapper {
            background: $lighter-gray;
            min-width: 55px;
            min-height: 25px;
            width: 35%;
            &--cover {
              background: rgba($layout-bg, 0.5);
            }
          }
        }
        &--nextBtn,
        &--prevBtn {
          height: 100%;
          width: 100%;
          &__wrapper {
            @include squad-small;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding: 1px;
            &--cover {
              @include squad-small;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 100%;
              position: relative;
              color: $white;
              cursor: pointer;
              border: none;
            }
          }
        }
      }
    }
  }
}
