<div class="content">
  <div class="language-switcher">
    <gb-language-switcher [isMobile]="false"></gb-language-switcher>
  </div>
  <div class="auth-wrapper">
    <gb-web-auth></gb-web-auth>
  </div>

  <div class="content__body">
    <div class="content__body--wrapper"></div>
    
    <div class="content__body--top__decor"></div>

    <div class="content__body--left__decor">
      <div class="content__body--left__decor--line"></div>
      <div class="content__body--left__decor--round"></div>
    </div>

    <div class="content__body--right__decor">
      <div class="content__body--right__decor--line"></div>
      <div class="content__body--right__decor--round"></div>
    </div>
  </div>
  <div class="content__footer">
    <span>Powered by Cincomatic</span>
    <div class="content__footer--icon"></div>
    <span>Designed by Dream in Art</span>
  </div>

  <gb-logo class="content__logo"></gb-logo>
  <gb-web-actions class="content__actions" [actionsCount]="actionsCount"></gb-web-actions>
</div>