<button [class]="'forms-popup-button ' + formType" (click)="openModal()">
  <div class="forms-cover">
    <span>{{ title }}</span>
  </div>
</button>
<ng-template #modalTemplate>
  <div @fadeInOut id="forms-modal">
    <div
      class="forms-content"
      [class.mobile]="isMobile"
      [ngClass]="formType"
    >
      <div class="forms-close-wrapper" (click)="closeModal()">
        <div class="forms-cover">
          <div class="forms-cross"></div>
        </div>
      </div>

      <div class="forms-body">
        <div class="forms-shadow">
          <div class="forms-wrapper">
            <div class="forms-cover">
              <gb-mobile-sign-up
                *ngIf="formType === 'signUp'"
                (openRegistrationDone)="isRegistered($event)"
              ></gb-mobile-sign-up>
              <gb-mobile-sign-in
                *ngIf="formType === 'signIn'"
                (openRecoverPassword)="isRecoverPassword($event)"
              ></gb-mobile-sign-in>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
