<app-loader *ngIf="isLoading; else contentModel"></app-loader>
<ng-template #contentModel>
  <div class="content">
    <div class="content__filters">
      <div class="date filter">
        <div class="wrapper-content">
          <label class="label left">
            <div class="cover">
              <span>From:</span>
              <input
                type="date"
                autocomplete="off"
                (change)="onSelectDateFrom($event)"
              />
              <svg>
                <use
                  xlink:href="assets/icons/global-sprint.svg#gb-calendar-date"
                ></use>
              </svg>
            </div>
          </label>
        </div>
        <div class="wrapper-content">
          <label class="label right">
            <div class="cover">
              <span>To:</span>
              <input
                type="date"
                autocomplete="off"
                (change)="onSelectDateTo($event)"
              />
              <svg>
                <use
                  xlink:href="assets/icons/global-sprint.svg#gb-calendar-date"
                ></use>
              </svg>
            </div>
          </label>
        </div>
      </div>
      <div class="options filter">
        <app-multiselect
          [data]="state"
          [keyName]="'id'"
          placeholder="State"
          class="form-filed margin-right"
          (onSelect)="onSelectStateFilter($event)"
        >
        </app-multiselect>
  
        <app-multiselect
          [cutSide]="'both'"
          [data]="type"
          [keyName]="'id'"
          placeholder="Type"
          class="form-filed"
          (onSelect)="onSelectTypeFilter($event)"
        >
        </app-multiselect>
  
        <app-multiselect
          [cutSide]="'right'"
          [data]="currency"
          [keyName]="'id'"
          placeholder="Currency"
          class="form-filed margin-left"
          (onSelect)="onSelectCurrencyFilter($event)"
        >
        </app-multiselect>

        <app-search
          (getSearchedText)="getSearchedText($event)"
          class="search-component"
        ></app-search>
      </div>
    </div>
    <div class="content__table">
      <div class="content__table--cover">
        <div class="table-header">
          <span *ngFor="let item of tableHeader">{{ item.name }}</span>
        </div>
        <div class="table-body" >
          <div
            *ngFor="let data of tableData"
            class="row"
            [ngClass]="{
              red: data.state === 'Expired',
              green: data.state === 'Active',
              yellow: data.state === 'Used',
              gray: data.state === 'Canceled'
            }"
          >
            <div
              class="row--cover"
              [ngClass]="{
                red: data.state === 'Expired',
                green: data.state === 'Active',
                yellow: data.state === 'Used',
                gray: data.state === 'Canceled'
              }"
            >
              <span>{{ data.dateAndTime }}</span>
              <span>{{ data.bonusId }}</span>
              <span>{{ data.bonusName }}</span>
              <span>{{ data.amount }}</span>
              <span>{{ data.currency }}</span>
              <span>{{ data.turnoverAmount }}</span>
              <span>{{ data.state }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
