<div class="content">
  <div class="wrapper">
    <div class="cover">
      <div class="scroll">
        <div class="row">
          <gb-deposit-method-card></gb-deposit-method-card>
          <gb-deposit-method-card></gb-deposit-method-card>
          <gb-deposit-method-card></gb-deposit-method-card>
          <gb-deposit-method-card></gb-deposit-method-card>
          <gb-deposit-method-card></gb-deposit-method-card>
        </div>
        <div class="row">
          <gb-all-method-card></gb-all-method-card>
        </div>
        <div class="row">
          <gb-all-method-card></gb-all-method-card>
        </div>
        <div class="row">
          <gb-all-method-card></gb-all-method-card>
        </div>
        <div class="row">
          <gb-all-method-card></gb-all-method-card>
        </div>
      </div>
    </div>
  </div>
</div>
