@import "src/mixins/styles-mixin";
@import "src/styles/colors";
:host {
  width: 100%;
  height: 100%;
}

input {
  -webkit-autofill: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: linear-gradient(#1c1c23 0%, #2d2d37 100%);
  width: 100%;
  height: 100%;
  text-align: left;
  &::placeholder {
    color: $white;
    opacity: 0.7;
    font-weight: 500;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 10px;
  gap: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  .recover{
    display: flex;
    margin-top: 20px;
  }
  &__header {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 30px;
    margin-bottom: 25px;
    &--info {
      position: absolute;
      font-family: "Roboto", sans-serif;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 30px;
      min-height: 30px;
      background: $lighter-gray;
      border: 1px solid $yellow;
      border-top: 0;
      border-radius: 100%;
      color: $yellow;
      font-size: 16px;
      filter: drop-shadow(0px 1px 1px #000000);
    }
    &--title {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      &__text {
        font-size: clamp(16px, 3vw, 30px);
        position: absolute;
        font-weight: 700;
        color: $yellow;
        margin-bottom: 15px;
      }
      &__wrapper {
        @include modal-title-vector;
        background: $yellow;
        width: 70%;
        height: 100%;
      }
      &__decor {
        @include modal-title-decor;
        position: absolute;
        background: $yellow;
        width: 12%;
        height: 16%;
        bottom: -1px;
      }
    }
  }
  &--form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    &__state {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 10%;
      &--row {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: nowrap;
        .content {
          width: 100%;
          filter: drop-shadow(4px 8px 16px rgba(0, 0, 0, 0.3));
          .success-round {
            background: $border-gradient-to-right-success;
          }
          .error-round {
            background: $border-gradient-to-right-error;
          }
          &__forgot-password {
            display: flex;
            white-space: nowrap;
            align-items: center;
            height: 100%;
            font-size: clamp(14px, 0vw, 18px);
            font-weight: 500;
            line-height: normal;
            color: $white;
            margin-top: 25px;
            cursor: pointer;
          }
          &__wrapper--round {
            background: $border-gradient-to-right;
            border-radius: 20px;
            border-radius: 20px;
            padding: 1px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            margin-top: 1%;
            &--input {
              color: $white;
              font-size: 14px;
              font-weight: 700;
              line-height: normal;
              width: 100%;
              height: 100%;
              min-height: 40px;
              background: linear-gradient(#1c1c23 0%, #2d2d37 100%);
              border-radius: 20px;
              border-radius: 20px;
              padding-left: 20px;
              padding-right: 15px;
            }
            .password-visibility {
              position: absolute;
              right: 10px;
              top: 50%;
              width: 20px;
              height: 20px;
              transform: translateY(-50%);
              svg {
                cursor: pointer;
                width: 100%;
                height: 100%;
                fill: $yellow;
              }
            }
          }
          &__feedback-error {
            margin-left: 15px;
            font-size: clamp(9px, 1vw, 12px);
            color: $red;
            margin-top: 5px;
            z-index: -1;
          }
        }
        .remember-me {
          display: flex;
          width: 100%;
          height: 100%;
          .checkboxes {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: nowrap;
            width: 40%;
            height: 100%;
            min-height: 21px;
            max-height: 60px;
            filter: drop-shadow(4px 8px 16px rgba(0, 0, 0, 0.3));
            .remember-title {
              color: rgba($white, 0.8);
              font-size: clamp(14px, 1vw, 18px);
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              white-space: nowrap;
            }
            &__wrapper {
              @include form-checkbox;
              margin-right: 5px;
              width: 100%;
              height: 100%;
              max-width: 20px;
              max-height: 20px;
              background: $lighter-gray;
              padding: 1px;
              aspect-ratio: 1/1;
              &.checked {
                background: $yellow;
              }
              &--input {
                @include form-checkbox;
                width: 100%;
                height: 100%;
                background: $dark-gray;
              }
              &--input[type="checkbox"]:checked:after {
                content: "\2713";
                color: $yellow;
              }
              &--input[type="checkbox"] {
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }
      }
    }
    .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 15%;
      min-height: 30px;
      .create-account {
        font-family: "Roboto", sans-serif;
        display: flex;
        white-space: nowrap;
        align-items: center;
        height: 100%;
        max-height: 30px;
        font-size: clamp(14px, 1vw, 18px);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: $white;
        letter-spacing: 1px;
        cursor: pointer;
        &:hover {
          text-shadow: 1px 1px 2px $layout-bg, 0 0 1em $layout-bg,
            0 0 0.2em $layout-bg;
        }
      }
      .send-btn-wrapper {
        @include squad-small;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $yellow;
        height: 100%;
        max-height: 30px;
        width: 30%;
        padding: 1px;
        .send-btn-cover {
          @include squad-small;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          position: relative;
          background: rgba($layout-bg, 0.5);
          border: none;
          color: $white;
          cursor: pointer;
        }
      }
    }
  }
}
