<div class="container">
  <div class="container__header">
    <div class="container__header--info">
      <span>?</span>
    </div>
    <div class="container__header--title">
      <span class="container__header--title__text">Sign In</span>
      <div class="container__header--title__wrapper"></div>
      <div class="container__header--title__decor"></div>
    </div>
  </div>

    <form [formGroup]="signinForm" class="container--form" (ngSubmit)="submitForm()">
      <div class="container--form__state">
        <div class="container--form__state--row">
          <div class="content">
            <div class="content__wrapper--round"
              [class.success-round]="emailControl.touched && emailControl.valid"
              [class.error-round]="emailControl.touched && emailControl.invalid"
            >
              <input class="content__wrapper--round--input" 
                type="email" 
                autocomplete="off" 
                formControlName="email"
                placeholder="Email"
              />
            </div>
            <span class="content__feedback-error" *ngIf="emailControl.touched && emailControl.invalid">Error text</span>
            <span class="content__forgot-password" (click)="forgotPassword()">Forgot your Password?</span>
          </div>
        </div>
        <div class="container--form__state--row">
          <div class="content">
            <div class="content__wrapper--round"
              [class.success-round]="passwordControl.touched && passwordControl.valid"
              [class.error-round]="passwordControl.touched && passwordControl.invalid"
            >
              <input class="content__wrapper--round--input" 
                type="text" 
                autocomplete="off" 
                formControlName="password"
                placeholder="Password"
              />
            </div>
            <span class="content__feedback-error" *ngIf="passwordControl.touched && passwordControl.invalid">Error text</span>
          </div>
        </div>
        <div class="container--form__state--row">
          <div class="remember-me">
            <div class="checkboxes" (click)="handleCheckboxChange()">
              <div class="checkboxes__wrapper" [class.checked]="isRememberMe">
                <input
                  type="checkbox"
                  class="checkboxes__wrapper--input"
                  formControlName="rememberMe"
                  [checked]="isRememberMe"
                >
              </div>
              <span class="remember-title">Remember Me</span>
            </div>
          </div>
        </div>
      </div>

      <div class="container--form__footer">
        <span href="#" class="container--form__footer--create-account">Create Account</span>
        <div class="container--form__footer--signinBtn">
          <div class="container--form__footer--signinBtn__wrapper">
            <button type="submit" class="container--form__footer--signinBtn__wrapper--cover">Sign In</button>
          </div>
        </div>
      </div>
    </form>
</div>
