@import "src/mixins/styles-mixin";
@import "src/styles/colors";

.content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  &__btn--big--4,
  &__btn--big--3,
  &__btn--big--2,
  &__btn--small--4,
  &__btn--small--3,
  &__btn--small--2 {
    background: linear-gradient(#af7412 0%, #a50483 50%, #38397d 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 1px;
    &:hover {
      background: $yellow;
    }
    .cover {
      height: 100%;
      width: 100%;
      background: linear-gradient(#181818 0%, #141414 100%);
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: flex-end;
      .title {
        position: absolute;
        transform: rotate(-90deg);
        text-transform: uppercase;
        white-space: nowrap;
        font-weight: 500;
        margin-bottom: 65%;
        width: 100%;
        font-size: clamp(12px, 1.3vw, 28px);
        transition: transform 0.2s ease-in-out, color 0.2s ease-in-out, white-space 0.2s ease-in-out, text-align 0.2s ease-in-out, font-weight 0.2s ease-in-out;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(/assets/images/action_type2.png);
        background-size: cover;
        background-position: center;
        opacity: 0;
        transition: opacity 0.1s ease-in-out;
      }
      &:hover::before {
        opacity: 1;
      }

      &:hover {
        .title {
          transform: rotate(0deg);
          white-space: wrap;
          text-align: center;
          color: $yellow !important;
          font-weight: 700;
        }
      }
    }
  }
  &__btn--big--4 {
    width: 18%;
    height: 96%;
  }
  &__btn--small--4 {
    width: 18%;
    height: 65%;
  }
  &__btn--big--3 {
    width: 23%;
    height: 94%;
  }
  &__btn--small--3 {
    width: 22%;
    height: 57%;
  }
  &__btn--big--2 {
    width: 18%;
    height: 96%;
  }
  &__btn--small--2 {
    width: 18%;
    height: 65%;
  }
}
