<gb-loader *ngIf="isLoading; else contentModel"></gb-loader>
<ng-template #contentModel>
  <div class="content">
    <div class="verification">
      <div class="cover">
        <div class="header">
          <span class="title">Verification</span>
        </div>
        <div class="body">
          <div class="streight">
            <span class="title">Protected:</span>
            <div class="progress-bar">
              <div class="cover-bar" [style.width.%]="barWidth"></div>
            </div>
          </div>
          <ng-container>
            <div class="row">
              <gb-change-password></gb-change-password>
              <gb-link-your-phone></gb-link-your-phone>
            </div>
            <div class="row">
              <gb-verification-by-document></gb-verification-by-document>
              <gb-two-factor-authentication></gb-two-factor-authentication>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="protection">
      <div class="cover">
        <div class="header">
          <span class="title">Protection</span>
        </div>
        <div class="body">
          <gb-active-session></gb-active-session>
          <gb-session-history></gb-session-history>
        </div>
      </div>
    </div>
  </div>
</ng-template>

