<div class="account">
  <div class="col-1">
    <span class="title">Help</span>
    <span class="subtitle">What If They Let You Run The Hubble</span>
    <span class="text">
      “The moment you think of buying a Web Hosting Plan, you know one thing –
      So many choices, which one to choose? Whether you would want to choose
      Shared Linux Packages or a Unix Package or do you want to go for a shared
      windows package or packages reseller for hosting? Trust me, a lot of
      individuals stand confused when they see that there are thousands of plans
      yet very little resource of comparison. <br /><br />
      Click on the link website-hosting-reviews-free and you would know why a
      lot of people consider this link as top notch hosting reviews or hosting
      directory site. When you spend some time in this website, you would
      realize that a lot of information presented in this website is extremely
      unique only to this site and you would not find this anywhere else.
      <br /><br />
      Their information structuring <br /><br />
      You will find a common format across all the hosting directories. We have
      information structured on three bits – Shared Unix or Shared Linux
      Packages, Shared Windows Packages, Reseller Packages. Each Hosting
      Directory Categories has a list of plans. Each plan is accompanies by a
      short synopsis of the plan details. Hence, expect to find the price, the
      web space, Data Transfer ability and the operating platform. <br /><br />
      At one shot, you would be able to sort these plans by any of the following
      factors – Price, rating, Web Space, Data Transfer. With such a high range
      of flexibility in filtering of data, you could almost be assured of making
      the right choice as long as your hosting company is considered.
    </span>
  </div>
  <div class="col-2">
    <ng-container *ngFor="let item of infoList">
      <app-info-item [item]="item"></app-info-item>
    </ng-container>
  </div>
</div>
