<div class="content">
  <div class="content__filters">
    <div class="date filter">
      <div class="wrapper-content">
        <label class="label left">
          <div class="cover">
            <span>From:</span>
            <input
              type="date"
              autocomplete="off"
              (change)="onSelectDateFrom($event)"
            />
            <svg>
              <use
                xlink:href="assets/icons/global-sprint.svg#gb-calendar-date"
              ></use>
            </svg>
          </div>
        </label>
      </div>
      <div class="wrapper-content">
        <label class="label right">
          <div class="cover">
            <span>To:</span>
            <input
              type="date"
              autocomplete="off"
              (change)="onSelectDateTo($event)"
            />
            <svg>
              <use
                xlink:href="assets/icons/global-sprint.svg#gb-calendar-date"
              ></use>
            </svg>
          </div>
        </label>
      </div>
    </div>
    <div class="options filter">
      <gb-multiselect
        [data]="status"
        [keyName]="'id'"
        placeholder="Status"
        [className]="'form-filed'"
        (onSelect)="onSelectStatusFilter($event)"
      >
      </gb-multiselect>
      <gb-multiselect
        [cutSide]="'right'"
        [data]="method"
        [keyName]="'id'"
        placeholder="Method"
        [className]="'form-filed method'"
        (onSelect)="onSelectMethodFilter($event)"
      >
      </gb-multiselect>
      <div class="currency-wrapper">
        <gb-multiselect
          [cutSide]="'round'"
          [data]="currency"
          [keyName]="'id'"
          placeholder="Currency"
          [isCurrencyIcon]="true"
          [className]="'form-filed'"
          (onSelect)="onSelectCurrencyFilter($event)"
        >
        </gb-multiselect>
      </div>
    </div>
  </div>
  <div class="content__table">
    <div class="content__table--cover">
      <div class="table-body">
        <gb-loader *ngIf="isLoading" class="loader"></gb-loader>
        <iframe class="iframe" #iframeRef src="http://192.168.0.143:4200/activeBets" frameborder="0" (load)="frameLoadEnd()"></iframe>
      </div>
    </div>
  </div>
</div>

<ng-template #modalTemplate>
  <div @fadeInOut id="cash-out-modal">
    <div class="cash-out-content mobile">
      <div class="diamond-wrapper">
        <div class="diamond-cover">
          <svg>
            <use xlink:href="assets/icons/global-sprint.svg#gb-error"></use>
          </svg>
        </div>
      </div>
      
      <div class="cash-out-body">
        <div class="cash-out-shadow">
          <div class="cash-out-wrapper">
            <div class="cash-out-cover">
              <div class="title">Cash Out</div>
              <div class="message">
                By Proceeding Cash Out we will keep 30% of Your Deposit. Are Your sure You want to Cash Out Bet?
              </div>
              <div class="cash-out-btn">
                <button (click)="destroyCashOutModal()">
                  <div class="cover">
                    <span>Aggree</span>
                  </div>
                </button>
              </div>
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>