<div class="container">
  <div class="container__header">
    <div class="container__header--info">
      <span>?</span>
    </div>
    <div class="container__header--title">
      <span class="container__header--title__text">Sign In</span>
      <div class="container__header--title__wrapper"></div>
      <div class="container__header--title__decor"></div>
    </div>
  </div>

  <form
    [formGroup]="signinForm"
    class="container--form"
    (ngSubmit)="submitForm()"
  >
    <div class="container--form__state">
      <div class="container--form__state--row">
        <div class="content margin-right">
          <div
            class="content__wrapper--left"
            [class.success-left]="signinForm.get('email')?.touched && signinForm.get('email')?.valid"
            [class.error-left]="signinForm.get('email')?.touched && signinForm.get('email')?.invalid"
          >
            <input
              class="content__wrapper--left--input"
              type="email"
              autocomplete="off"
              formControlName="email"
              placeholder="Email"
            />
          </div>
          <span
            class="content__feedback-error"
            *ngIf="signinForm.get('email')?.touched && signinForm.get('email')?.invalid"
            >Error text</span
          >
          <gb-recover-password class="recover" (openRecoverPassword)="closeSignInModal($event)" [isMobile]="false"></gb-recover-password>
        </div>
        <div class="content margin-right">
          <div
            class="content__wrapper--right"
            [class.success-right]="signinForm.get('password')?.touched && signinForm.get('password')?.valid"
            [class.error-right]="signinForm.get('password')?.touched && signinForm.get('password')?.invalid"
          >
            <input
              class="content__wrapper--right--input"
              type="{{ isPasswordVisible ? 'text' : 'password' }}"
              autocomplete="off"
              formControlName="password"
              placeholder="Password"
            />
            <div
              class="password-visibility"
              (click)="handlePasswordVisibility()"
            >
              <svg *ngIf="isPasswordVisible; else hideContent">
                <use
                  xlink:href="assets/icons/global-sprint.svg#gb-show-password"
                ></use>
              </svg>
              <ng-template #hideContent>
                <svg>
                  <use
                    xlink:href="assets/icons/global-sprint.svg#gb-hide-password"
                  ></use>
                </svg>
              </ng-template>
            </div>
          </div>
          <span
            class="content__feedback-error"
            *ngIf="signinForm.get('password')?.touched && signinForm.get('password')?.invalid"
            >Error text</span
          >
        </div>
      </div>
      <div class="container--form__state--row">
        <div class="remember-me">
          <div class="checkboxes" (click)="handleCheckboxChange()">
            <div class="checkboxes__wrapper" [class.checked]="isRememberMe">
              <input
                type="checkbox"
                class="checkboxes__wrapper--input"
                formControlName="rememberMe"
                [checked]="isRememberMe"
              />
            </div>
            <span class="remember-title">Remember Me</span>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <span class="create-account">Create Account</span>
      <div class="send-btn-wrapper">
        <button type="submit" class="send-btn-cover">
          Send
        </button>
      </div>
    </div>
  </form>
</div>
