@import "src/mixins/styles-mixin";
@import "src/styles/colors";
:host {
  width: 100%;
  height: 100%;
}
input {
  -webkit-autofill: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  text-align: left;
  color: $white;
  font-size: 0.75em;
  margin: 0;
  padding: 0;
  &::placeholder {
    color: $white;
    opacity: 0.7;
    font-weight: 600;
  }
}
input[type="file"] {
  display: none;
}

.content {
  width: calc(100% - 25px);
  height: calc(100% - 20px);
  filter: drop-shadow(2px 2px 4px #00000091);
  .light {
    .row {
      .label {
        input {
          background: $light-gray;
        }
      }
    }
  }
  .dark {
    .row {
      .label {
        input {
          background: linear-gradient(#1c1c23 0%, #2d2d37 100%);
        }
      }
    }
  }
  form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    min-height: 225px;
    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      .phone-code {
        max-width: 120px;
        width: 100%;
      }
      .upload-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        gap: 5px;
      }
      .margin-right {
        margin-right: -10px;
        width: calc(100% + 10px);
      }
      .margin-left {
        margin-left: -10px;
        width: calc(100% + 10px);
      }
      .label {
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 40px;
        width: 100%;
        height: 100%;
        padding: 1px;
        &.left {
          @include input-left;
          margin-right: -10px;
          background: $border-gradient-to-right;
          border-radius: 20px 0 0 20px;
          width: calc(100% + 10px);
          .input {
            @include input-left-cover;
            padding: 0 15px;
            border-radius: 20px 0 0 20px;
          }
          &.error {
            background: $border-gradient-to-right-error;
          }
          &.success {
            background: $border-gradient-to-right-success;
          }
        }
        &.middle {
          @include input-middle;
          background: $border-gradient-middle;
          .input {
            @include input-middle-cover;
            padding: 0 20px;
          }
          &.error {
            background: $border-gradient-middle-error;
          }
          &.success {
            background: $border-gradient-middle-success;
          }
        }
        &.right {
          @include input-right;
          background: $border-gradient-to-left;
          border-radius: 0 20px 20px 0;
          .input {
            @include input-right-cover;
            padding: 0 20px;
            border-radius: 0 20px 20px 0;
          }
          &.error {
            background: $border-gradient-to-left-error;
          }
          &.success {
            background: $border-gradient-to-left-success;
          }
        }
      }
      .upload-file {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 28px;
        border-top: 0;
        border-radius: 100%;
        filter: drop-shadow(4px 8px 16px rgba(0, 0, 0, 0.2));
        border: 1px solid $yellow;
        transition: transform 0.5ms ease;
        &.light {
          background: $light-gray;
        }
        &.dark {
          background: linear-gradient(#1c1c23 0%, #2d2d37 100%);
        }
        .line {
          width: 50%;
          height: 2px;
          background: $red;
          border-radius: 1px;
        }
        svg {
          fill: $yellow;
          width: 50%;
          height: 50%;
        }
        &:hover {
          transform: scale(1.02);
        }
      }
    }
  }
}
