<app-loader *ngIf="isLoading; else contentModel"></app-loader>
<ng-template #contentModel>
  <div class="content">
    <div class="self-exclusion">
      <div class="cover">
        <div class="header">
          <span class="title">Self-Exclusion</span>
          <span class="sub-title"
            >If you think that you are spending too much time or money on
            gambling, then you can ask to be self-excluded.</span
          >
        </div>
        <div class="body">
          <app-time-out></app-time-out>
          <app-self-exclusion></app-self-exclusion>
        </div>
      </div>
    </div>
    <div class="bet-deposit-limits">
      <div class="cover">
        <div class="header">
          <span class="title">Bet and Deposit limits</span>
          <span class="sub-title"
            >If you think that you are spending too much time or money on
            gambling, then you can set Bet and Deposit limits.</span
          >
        </div>
        <div class="body">
          <app-deposit-card></app-deposit-card>
          <app-casino-card></app-casino-card>
          <app-sportsbook-card></app-sportsbook-card>
        </div>
      </div>
    </div>
  </div>
</ng-template>
