<div class="content">
  <div class="wrapper">
    <div class="cover">
      <div class="header">
        <span class="title">Change Password</span>
        <span class="last-time">Last changed 12 hours ago</span>
      </div>
      <div class="body">
        <span class="info">Changes availabel only once a month</span>
        <form [formGroup]="changePasswordForm" (ngSubmit)="submitForm()">
          <div class="form-fields">
            <div class="current-password-content">
              <div class="input-wrapper">
                <input type="text" formControlName="currentPassword" placeholder="Current Password" />
              </div>
              <span class="forgot-title">Forgot Password?</span>
            </div>
            <div class="input-wrapper">
              <input type="text" formControlName="newPassword" placeholder="New Password" />
            </div>
            <div class="input-wrapper">
              <input type="text" formControlName="repeatPassword" placeholder="Repeat Password" />
            </div>
          </div>
          <button type="submit">
            <div class="cover">
              <span>Change</span>
            </div>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
