@import "src/mixins/styles-mixin";
@import "src/styles/colors";

:host {
  width: 100%;
  height: calc(100% - 50px);
}

input {
  -webkit-autofill: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: linear-gradient(#1c1c23 0%, #2d2d37 100%);
  width: 100%;
  height: 100%;
  text-align: left;
  &::placeholder {
    color: $white;
    opacity: 0.7;
    font-weight: 500;
  }
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  .first-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    gap: 10px;
    .profile-info {
      height: 55%;
      min-height: 225px;
      .cover {
        .body {
          width: calc(100% - 25px);
          padding: 10px;
          margin-right: 5px;
        }
      }
    }
    .notification {
      @include lb-side-squad-content;
      height: 45%;
      min-height: 195px;
      .cover {
        @include lb-side-squad-content;
        .body {
          padding: 10px;
        }
      }
    }
    .profile-info,
    .notification {
      background: $border-gradient-to-bottom;
      padding: 1px;
      border-radius: 10px;
      width: calc(100% - 20px);
      .cover {
        display: flex;
        flex-direction: column;
        background: $user-platform-section-gradient;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        .header {
          width: calc(100% - 30px);
          padding: 5px 15px;
          min-height: 40px;
          background: $user-platform-section-header-bg;
          border-bottom: 1px solid $yellow;
          border-radius: 10px 10px 0 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .title {
            color: $yellow;
            font-size: clamp(11px, 1vw, 18px);
            font-weight: 800;
            white-space: nowrap;
          }
          button {
            @include removed-styles-button;
            @include squad-small;
            padding: 1px;
            background: $yellow;
            max-width: 115px;
            max-height: 25px;
            width: 100%;
            height: 100%;
            border-radius: 3px;
            transition: transform 0.05s ease;
            .cover {
              @include squad-small;
              width: 100%;
              height: 100%;
              background: $smooth-yellow;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 3px;
              span {
                width: 100%;
                color: $smooth-white;
                text-align: center;
                font-size: 0.8em;
                font-weight: 700;
                padding: 4px 15px;
              }
            }
            &:hover {
              transform: scale(1.02);
            }
          }
        }
        .body {
          @include scroll;
          overflow-y: auto;
          overflow-x: hidden;
          height: 100%;
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
      }
    }
  }
  .protection {
    @include rt-side-squad-content;
    background: $border-gradient-to-bottom;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    padding: 1px;
    border-radius: 10px;
    min-height: 425px;
    .cover {
      @include rt-side-squad-content;
      display: flex;
      flex-direction: column;
      background: $user-platform-section-gradient;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      gap: 1px;
      .header {
        width: calc(100% - 30px);
        padding: 5px 15px;
        min-height: 45px;
        background: $user-platform-section-header-bg;
        border-bottom: 1px solid $yellow;
        border-radius: 10px 10px 0 0;
        display: flex;
        align-items: center;
        .title {
          color: $yellow;
          font-size: 0.85em;
          font-weight: 800;
          white-space: nowrap;
        }
      }
      .body {
        @include scroll;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        margin-right: 5px;
        padding: 15px;
        gap: 10px;
        width: calc(100% - 35px);
        height: 100%;
      }
    }
  }
}

@media (max-width: 1124px) {
  .content {
    flex-direction: column;
  }
}