<app-loader *ngIf="isLoading; else contentModel"></app-loader>
<ng-template #contentModel>
  <div class="content">
    <div class="first-col">
      <div class="profile-info">
        <div class="cover">
          <div class="header">
            <span class="title">Profile info</span>
            <button (click)="onSaveChange()">
              <div class="cover">
                <span>Save Change</span>
              </div>
            </button>
          </div>
          <div class="body">
            <app-web-profile-form></app-web-profile-form>
          </div>
        </div>
      </div>
      <div class="notification">
        <div class="cover">
          <div class="header">
            <span class="title">Notification</span>
          </div>
          <div class="body">
            <app-edit-profile-notification></app-edit-profile-notification>
          </div>
        </div>
      </div>
    </div>

    <div class="protection">
      <div class="cover">
        <div class="header">
          <span class="title">Protection</span>
        </div>
        <div class="body">
          <app-wallets></app-wallets>
          <app-send-money-friends></app-send-money-friends>
        </div>
      </div>
    </div>
  </div>
</ng-template>
