@import "src/styles/colors";
@import "src/mixins/styles-mixin";
:host {
  display: flex;
  width: 100%;
  height: 42px;
}
.gb-multiselect-autocomplate {
  width: 100%;
  padding: 1px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  z-index: 10;
  .wrapper {
    z-index: 11;
    width: 100%;
    height: 100%;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    &.error {
      background: $border-gradient-to-right-error;
    }
    &.success {
      background: $border-gradient-to-right-success;
    }
    .cover {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      &.light {
        background: $light-gray;
      }
      &.dark {
        background: linear-gradient(#1c1c23 0%, #2d2d37 100%);
      }
      .placeholder {
        width: 100%;
        height: 100%;
        font-size: 0.8em;
        font-weight: 700;
        user-select: none;
        color: $smooth-white;
        display: flex;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      svg {
        width: 15px;
        height: 15px;
        fill: $yellow;
        transition: transform 0.2s ease;
        &.rotate {
          transform: rotate(-180deg);
        }
      }
    }
  }
  &.left {
    .wrapper {
      @include input-left;
      background: $border-gradient-to-right;
      border-radius: 20px 0 0 20px;
      &.error {
        background: $border-gradient-to-right-error;
      }
      &.success {
        background: $border-gradient-to-right-success;
      }
      .cover {
        @include input-left-cover;
        padding: 0 28px 0 16px;
        border-radius: 20px 0 0 20px;
      }
    }
  }
  &.both {
    .wrapper {
      @include input-middle;
      background: $border-gradient-middle;
      &.error {
        background: $border-gradient-middle-error;
      }
      &.success {
        background: $border-gradient-middle-success;
      }
      .cover {
        @include input-middle-cover;
        padding: 0 20px;
      }
    }
  }
  &.right {
    .wrapper {
      @include input-right;
      border-radius: 0 20px 20px 0;
      background: $border-gradient-to-left;
      &.error {
        background: $border-gradient-to-left-error;
      }
      &.success {
        background: $border-gradient-to-left-success;
      }
      .cover {
        @include input-right-cover;
        padding: 0 16px 0 28px;
        border-radius: 0 20px 20px 0;
      }
    }
  }
  &.squad-small {
    .wrapper {
      @include squad-small;
      border-radius: 5px;
      background: $border-gradient-to-left;
      &.error {
        background: $border-gradient-to-left-error;
      }
      &.success {
        background: $border-gradient-to-left-success;
      }
      .cover {
        @include squad-small;
        padding: 5px;
        border-radius: 0 20px 20px 0;
      }
    }
  }
  &.disabled {
    .wrapper {
      cursor: no-drop;
      .cover {
        svg {
          fill: $lighter-gray;
        }
      }
    }
  }
}
