@import "src/assets/fonts/fonts.scss";
@import "src/mixins/styles-mixin";
@import "src/styles/colors";

.platform {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $desktop-blur;
  min-height: 300px;
  min-width: 240px;
  &__content {
    position: relative;
    width: 95%;
    height: calc(100% - 50px);
    .close__shadow {
      position: absolute;
      z-index: 1;
      width: 48px;
      height: 40px;
      top: -15px;
      right: 0px;
      z-index: 1;
      filter: drop-shadow(5px 15px 10px $layout-bg);
      &__wrapper {
        @include small-diamond;
        background: $yellow;
        padding: 1px;
        width: 100%;
        height: 100%;
        cursor: pointer;
        &--cover {
          @include small-diamond;
          background: $dark-gray;
          width: 100%;
          height: 100%;
          .cross {
            width: 100%;
            height: 100%;
            position: relative;
            &::before,
            &::after {
              content: "";
              position: absolute;
              width: 2px;
              height: 35%;
              top: 25%;
              left: 48%;
              background-color: $yellow;
            }
            &::before {
              transform: rotate(45deg);
            }
            &::after {
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
    &__wrapper {
      @include rt-side-squad-content;
      width: 100%;
      height: 100%;
      background: $yellow;
      padding: 1px;
      border-radius: 10px;
      &--cover {
        @include rt-side-squad-content;
        background: linear-gradient(to top, #1C1C23 0%, #3D404D 100%);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        .tabs {
          display: flex;
          align-items: flex-end;
          position: relative;
          width: 100%;
          height: 100%;
          &__header {
            position: absolute;
            top: 0;
            display: flex;
            max-height: 70px;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            border-radius: 15px 0 0 0;
            height: 100%;
            width: 100%;
            scrollbar-width: none;
            -ms-overflow-style: none;
            &::-webkit-scrollbar {
              display: none;
            }
            &--items {
              display: flex;
              align-items: flex-end;
              border-bottom: 1px solid $yellow;
              background: $user-platform-section-header-bg;
              .item {
                min-width: 23vw;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: $yellow;
                cursor: pointer;
                outline: none;
                margin-bottom: 8px;
                &.active {
                  pointer-events: none;
                  margin-bottom: 5px;
                  .title {
                    color: $yellow;
                    margin-bottom: 5px;
                  }
                  .toz {
                    display: none;
                  }
                }
                .title {
                  white-space: nowrap;
                  font-size: clamp(16px, 1vw, 22px);
                  color: $smooth-white;
                  font-weight: 700;
                }
                .decor-default {
                  position: relative;
                  width: 100%;
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  max-width: 50px;
                  height: 6px;
                  background: #1c1c2300;
                  &--vector {
                    @include user-platform-tabs-title-vector;
                    background: $yellow;
                    width: 100%;
                    height: 100%;
                    min-height: 6px;
                  }
                  &--dot {
                    position: absolute;
                    bottom: 0;
                    background: $yellow;
                    border-radius: 100%;
                    width: 2px;
                    height: 2px;
                  }
                }
                .toz {
                  position: absolute;
                  max-width: 50px;
                  width: 100%;
                  bottom: 12px;
                }
                .decor {
                  position: absolute;
                  @include user-platform-tabs-decor;
                  max-width: 30px;
                  max-height: 4px;
                  width: 100%;
                  height: 100%;
                  background: $yellow;
                  bottom: -1px;
                }
              }
            }
          }
          &__content {
            @include scroll;
            color: $white;
            height: calc(100% - 90px);
            flex: 1;
            margin-right: 5px;
            padding: 10px;
            overflow-y: auto;
            overflow-x: hidden;
          }
        }
      }
    }
  }
}
