@import "src/mixins/styles-mixin";
@import "src/styles/colors";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .row {
    @include squad-small;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 40px;
    border-radius: 3px;
    cursor: pointer;
    &.red {
      background: $table-row-gradient-red;
    }
    &.green {
      background: $table-row-gradient-green;
    }
    &.yellow {
      background: $table-row-gradient-yellow;
    }
    &.gray {
      background: $table-row-gradient-gray;
    }
    &--cover {
      @include squad-small;
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 0.8em;
        font-weight: 500;
      }
      .odd {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .wrapper {
          width: 92px;
          height: 28px;
          padding: 1px;
          background: $yellow;
          border-radius: 14px;
          .cover {
            width: 100%;
            height: 100%;
            border-radius: 14px;
            background: $dark-gray;
          }
        }
      }
      svg {
        position: absolute;
        right: 8px;
        width: 12px;
        height: 12px;
        fill: $white;
        transition: transform 0.2s ease;
        &.rotate {
          transform: rotate(-180deg);
        }
      }
      &.red {
        background: $table-row-gradient-red-bg;
      }
      &.green {
        background: $table-row-gradient-green-bg;
      }
      &.yellow {
        background: $table-row-gradient-yellow-bg;
      }
      &.gray {
        background: $table-row-gradient-gray-bg;
      }
    }
  }
  .collapse-frame {
    @include squad-small;
    margin-top: 5px;
    width: 100%;
    height: 0px;
    min-height: 0px;
    transition: min-height 0.3s ease;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .iframe {
      height: 100%;
      width: 100%;
    }
    .loader {
      position: absolute;
    }
  }
}
