@import "src/mixins/styles-mixin";
@import "src/styles/colors";

:host {
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
  max-height: 295px;
  min-height: 175px;
  &.mobile {
    max-height: unset;
  }
  .wrapper {
    @include squad-big;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $yellow;
    border-radius: 5px;
    padding: 1px;
    width: 100%;
    height: 100%;
    .cover {
      @include squad-big;
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      width: 100%;
      height: 100%;
      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: calc(100% - 25px);
        height: 40px;
        border-bottom: 1px solid $yellow;
        border-radius: 5px 0px 0px 0px;
        background: $darker-gray;
        padding: 5px 15px;
        gap: 10px;
        .title {
          color: $white;
          font-size: 0.8em;
          font-weight: 500;
        }
      }
      .body {
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 15px;
        width: calc(100% - 20px);
        height: 100%;
        border-radius: 0px 0px 5px 0px;
        background: $user-platform-section-gradient;
        form {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
          filter: drop-shadow(2px 2px 4px 1px rgba(0, 0, 0, 0.5));
          .form-fields {
            width: 100%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
            .input-wrapper {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 100%;
              max-height: 30px;
              background: $border-gradient-to-left;
              border-radius: 20px;
              padding: 1px;
              input {
                width: calc(100% - 2px);
                height: calc(100% - 2px);
                border-radius: 20px;
                background: $light-gray;
              }
            }
          }
          .action-btn {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            button {
              @include removed-styles-button;
              @include squad-small;
              padding: 1px;
              background: $yellow;
              max-width: 125px;
              height: 30px;
              width: 100%;
              border-radius: 3px;
              transition: transform 0.05s ease;
              .cover {
                @include squad-small;
                width: 100%;
                height: 100%;
                background: $smooth-yellow;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 3px;
                span {
                  width: 100%;
                  color: $smooth-white;
                  text-align: center;
                  font-size: 0.8em;
                  font-weight: 700;
                  padding: 4px 15px;
                }
              }
              &:hover {
                transform: scale(1.02);
              }
            }
          }
        }
      }
    }
  }
}
