@import "src/mixins/styles-mixin";
@import "src/styles/colors";

.help-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .tab-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(3px 6px 3px #00000083);
    gap: 20px;
    margin-bottom: 15px;
    button {
      @include removed-styles-button;
      @include squad-small;
      padding: 1px;
      background: $lighter-gray;
      max-width: 168px;
      border-radius: 3px;
      transition: transform 0.05s ease;
      .button-cover {
        @include squad-small;
        background: $light-gray;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        padding: 5px 20px;
        span {
          width: 100%;
          color: $smooth-white;
          text-align: center;
          font-size: 0.8em;
          font-weight: 700;
          padding: 4px 15px;
        }
      }
      &.active {
        background: $yellow;
        .button-cover {
          background: $smooth-yellow;
        }
      }
    }
  }
}
