@import "src/mixins/styles-mixin";
@import "src/styles/colors";

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 712px;
  min-width: 752px;
  &__auth {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 45%;
    height: 65%;
    @media (max-aspect-ratio: 1.2) {
      height: 45%;
    }
    &--wrapper {
      @include diamond;
      background: $yellow;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      width: 100%;
      height: 100%;
      &::before {
        content: "";
        @include diamond;
        background: $layout-bg;
        width: calc(100% - 1px);
        height: calc(100% - 1px);
      }
    }
    &--top__decor {
      border: 1px solid $yellow;
      border-radius: 2px;
      background: $layout-bg;
      position: absolute;
      top: -1%;
      width: 17%;
      height: 2%;
      z-index: 1;
    }
    &--left__decor {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      left: -56%;
      top: -14%;
      width: 100%;
      height: 100%;
      column-gap: 3%;
      &--line {
        background: $yellow;
        height: 1px;
        width: 10%;
      }
      &--round {
        @include left-decoration;
        background: linear-gradient(to right,#dcb567 0%,#dcb567 95%,#000000 95%,#000000 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 8%;
        height: 25%;
        &::before {
          content: "";
          @include left-decoration;
          background: $layout-bg;
          width: calc(100% - 1px);
          height: calc(100% - 3px);
        }
      }
    }
    &--right__decor {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: scaleX(-1);
      right: -56%;
      top: -14%;
      width: 100%;
      height: 100%;
      column-gap: 3%;
      &--line {
        background: $yellow;
        height: 1px;
        width: 10%;
      }
      &--round {
        @include left-decoration;
        background: linear-gradient(to right,#dcb567 0%,#dcb567 95%,#000000 95%,#000000 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 8%;
        height: 25%;
        &::before {
          content: "";
          @include left-decoration;
          background: $layout-bg;
          width: calc(100% - 1px);
          height: calc(100% - 3px);
        }
      }
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    column-gap: 3%;
    width: 100%;
    span {
      white-space: nowrap;
      opacity: 0.5;
      font-size: clamp(9px, 1vw, 28px);
    }
    &--icon {
      transform: rotate(45deg);
      background: $yellow;
      left: 49%;
      min-width: 12px;
      min-height: 12px;
    }
  }

  &__actions {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 45%;
    height: 65%;
    bottom: 22%;
    @media (max-aspect-ratio: 1.2) {
      height: 35%;
      bottom: 35%;
    }
  }
  &__logo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13%;
    height: 18%;
    top: 26%;
    left: comparable($number1: 1, $number2: 100);
    z-index: 1;
    @media (max-aspect-ratio: 1.2) {
      height: 9%;
      width: 11%;
      top: 37%;
    }
  }
}
