@import "src/assets/fonts/fonts.scss";
@import "src/mixins/styles-mixin";
@import "src/styles/colors";

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $desktop-blur;
  &_content {
    position: relative;
    &.big {
      width: 35%;
      height: 80%;
      min-width: 487px;
      min-height: 586px;
      .modal_content_close-shadow {
        width: 65px;
        height: 50px;
        top: -20px;
        right: -40px;
      }
    }
    &.small {
      width: 35%;
      height: 35%;
      min-width: 487px;
      min-height: 365px;
      .modal_content_close-shadow {
        width: 55px;
        height: 41px;
        top: -15px;
        right: -25px;
      }
    }
    &_close-shadow {
      position: absolute;
      z-index: 1;
      &_close_wrapper {
        @include small-diamond;
        background: $yellow;
        padding: 1px;
        width: 100%;
        height: 100%;
        cursor: pointer;
        &_cover {
          @include small-diamond;
          background: $dark-gray;
          width: 100%;
          height: 100%;
          &_cross {
            width: 100%;
            height: 100%;
            position: relative;
            &::before,
            &::after {
              content: "";
              position: absolute;
              width: 2px;
              height: 35%;
              top: 25%;
              left: 48%;
              background-color: $yellow;
            }
            &::before {
              transform: rotate(45deg);
            }
            &::after {
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
    .body {
      @include web-modal-content;
      background: linear-gradient(#1c1c23 0%, #2d2d37 100%);
      width: 100%;
      height: 100%;
      border-radius: 20px;
      &-shadow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        filter: drop-shadow(0 5px 10px $layout-bg);
        .body-wrapper {
          @include web-modal-content;
          width: 95%;
          height: 96%;
          padding: 1px;
          background: $border-gradient-to-bottom;
          border-radius: 20px;
          &-cover {
            @include web-modal-content;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            background: linear-gradient(#3d404d 0%, #1c1c23 100%);
          }
        }
      }
    }
  }
}

// @media (max-width: 767px) {
//   .modal {
//     &_content {
//       &.big {
//         width: 512px;
//         height: 552px;
//       }
//     }
//   }
// }
// @media (min-width: 768px) and (max-width: 1199px) {
//   .modal {
//     &_content {
//       &.big {
//         width: 512px;
//         height: 552px;
//       }
//     }
//   }
// }
// @media (min-width: 1200px) and (max-width: 1919px) {
//   .modal {
//     &_content {
//       &.big {
//         width: 612px;
//         height: 652px;
//       }
//     }
//   }
// }
// @media (min-width: 1920px) and (max-width: 2119px) {
//   .modal {
//     &_content {
//       &.big {
//         width: 712px;
//         height: 752px;
//       }
//     }
//   }
// }
// @media (min-width: 2164px) {
//   .modal {
//     &_content {
//       &.big {
//         width: 912px;
//         height: 952px;
//       }
//     }
//   }
// }
