<div class="content">
  <div class="content__filters">
    <div class="date filter">
      <div class="wrapper-content">
        <label class="label left">
          <div class="cover">
            <span>From:</span>
            <input
              type="date"
              autocomplete="off"
              (change)="onSelectDateFrom($event)"
            />
            <svg>
              <use
                xlink:href="assets/icons/global-sprint.svg#gb-calendar-date"
              ></use>
            </svg>
          </div>
        </label>
      </div>
      <div class="wrapper-content">
        <label class="label right">
          <div class="cover">
            <span>To:</span>
            <input
              type="date"
              autocomplete="off"
              (change)="onSelectDateTo($event)"
            />
            <svg>
              <use
                xlink:href="assets/icons/global-sprint.svg#gb-calendar-date"
              ></use>
            </svg>
          </div>
        </label>
      </div>
    </div>
    <div class="options filter">
      <gb-multiselect
        [data]="status"
        [keyName]="'id'"
        placeholder="Status"
        [className]="'form-filed'"
        (onSelect)="onSelectStatusFilter($event)"
      >
      </gb-multiselect>

      <gb-multiselect
        [cutSide]="'right'"
        [data]="method"
        [keyName]="'id'"
        placeholder="Method"
        [className]="'form-filed method'"
        (onSelect)="onSelectMethodFilter($event)"
      >
      </gb-multiselect>
      <div class="currency-wrapper">
        <gb-multiselect
          [cutSide]="'round'"
          [data]="currency"
          [keyName]="'id'"
          placeholder="Currency"
          [isCurrencyIcon]="true"
          [className]="'form-filed'"
          (onSelect)="onSelectCurrencyFilter($event)"
        >
        </gb-multiselect>
      </div>
    </div>
  </div>
  <div class="content__table">
    <div class="content__table--cover">
      <div class="table-body">
        <div *ngFor="let data of tableData" class="row">
          <div class="row--cover">
            <span
              class="table-title"
              [ngClass]="{
                red: data.type === 'Withdraw',
                green: data.type === 'Deposit'
              }"
              >{{ data.type }}</span
            >
            <div class="item-row">
              <span class="title">Date and Time</span>
              <span class="value">{{ data.dateAndTime }}</span>
            </div>
            <div class="item-row">
              <span class="title">ID</span>
              <span class="value">{{ data.id }}</span>
            </div>
            <div class="item-row">
              <span class="title">Payment Method</span>
              <span class="value">{{ data.paymentMethod }}</span>
            </div>
            <div class="item-row">
              <span class="title">Amount</span>
              <span class="value">{{ data.amountStatus }}</span>
            </div>
            <div class="item-row">
              <span class="title">Balance</span>
              <span
                class="value"
                [ngClass]="{
                  red: data.type === 'Withdraw',
                  green: data.type === 'Deposit'
                }"
                >{{ data.amountStatus }}</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="gb-error-wrapper">
  <gb-multiselect
  [cutSide]="'right'"
    [error]="
      !!(
        filterForm.get('status')?.hasError('required') &&
        filterForm.get('status')?.touched &&
        filterForm.get('status')?.dirty
      )
    "
    formControlName="status"
    style="width: 200px"
    placeholder="Status"
    [data]="status"
    [keyName]="'id'"
  >
  </gb-multiselect>
  <span
    class="gb-error"
    *ngIf="
      filterForm.get('status')?.hasError('required') &&
      filterForm.get('status')?.touched &&
      filterForm.get('status')?.dirty
    "
    >Error
  </span>
</div> -->
