<div class="content">
  <form [formGroup]="form" [class]="inputColor">
    <div class="row">
      <label
        class="label left"
        [class.success]="firstNameControl.touched && firstNameControl.valid"
        [class.error]="firstNameControl.touched && firstNameControl.invalid"
      >
        <input
          class="input"
          type="text"
          placeholder="First Name"
          formControlName="firstName"
          (change)="emitFormValue()"
        />
      </label>
      <label
        class="label right"
        [class.success]="lastNameControl.touched && lastNameControl.valid"
        [class.error]="lastNameControl.touched && lastNameControl.invalid"
      >
        <input
          class="input"
          type="text"
          placeholder="Last Name"
          formControlName="lastName"
          (change)="emitFormValue()"
        />
      </label>
    </div>
    <div class="row">
      <label
        class="label left"
        [class.success]="emailControl.touched && emailControl.valid"
        [class.error]="emailControl.touched && emailControl.invalid"
      >
        <input
          class="input"
          type="text"
          placeholder="Email"
          formControlName="email"
          (change)="emitFormValue()"
        />
      </label>
      <label
        class="label right"
        [class.success]="dateOfBirthControl.touched && dateOfBirthControl.valid"
        [class.error]="dateOfBirthControl.touched && dateOfBirthControl.invalid"
      >
        <input
          class="input"
          type="text"
          placeholder="MM/DD/YYYY"
          formControlName="dateOfBirth"
          (change)="emitFormValue()"
        />
      </label>
    </div>
    <div class="row">
      <app-multiselect-autocomplate
        [data]="country"
        [keyName]="'id'"
        placeholder="Country"
        [className]="'multiselect-label'"
        [inputColor]="inputColor"
        [singleSelect]="true"
        (onSelect)="onSelectCountryFilter($event)"
      ></app-multiselect-autocomplate>
      <app-multiselect-autocomplate
        [data]="city"
        cutSide="right"
        [keyName]="'id'"
        placeholder="City"
        [className]="'multiselect-label'"
        [singleSelect]="true"
        [inputColor]="inputColor"
        (onSelect)="onSelectCityFilter($event)"
      ></app-multiselect-autocomplate>
    </div>
    <div class="row">
      <app-multiselect-autocomplate
        [data]="currency"
        [keyName]="'id'"
        placeholder="Currency"
        [className]="'multiselect-label'"
        [inputColor]="inputColor"
        (onSelect)="onSelectCurrencyFilter($event)"
      ></app-multiselect-autocomplate>
      <label
        class="label right"
        [class.success]="zipCodeControl.touched && zipCodeControl.valid"
        [class.error]="zipCodeControl.touched && zipCodeControl.invalid"
      >
        <input
          class="input"
          type="text"
          placeholder="Zip Code"
          formControlName="zipCode"
          (change)="emitFormValue()"
        />
      </label>
    </div>
    <div class="row">
      <app-multiselect-autocomplate
        [data]="phoneCode"
        [keyName]="'id'"
        cutSide="left"
        placeholder="+61789"
        [className]="'phone-code multiselect-label'"
        [inputColor]="inputColor"
        [singleSelect]="true"
        (onSelect)="onSelectPhoneCodeFilter($event)"
      ></app-multiselect-autocomplate>
      <label
        class="label right"
        [class.success]="phoneNumberControl.touched && phoneNumberControl.valid"
        [class.error]="phoneNumberControl.touched && phoneNumberControl.invalid"
      >
        <input
          class="input"
          type="text"
          placeholder="Phone Number"
          formControlName="phoneNumber"
          (change)="emitFormValue()"
        />
      </label>
    </div>
    <div class="row">
      <app-multiselect-autocomplate
        [data]="typeOfDocument"
        [keyName]="'id'"
        placeholder="Doc. Type"
        [className]="'multiselect-label'"
        [inputColor]="inputColor"
        (onSelect)="onSelectTypeOfDocumentFilter($event)"
      ></app-multiselect-autocomplate>
      <div class="upload-wrapper">
        <label
          class="upload-wrapper-label label right"
          [class.success]="docNumberControl.touched && docNumberControl.valid"
          [class.error]="docNumberControl.touched && docNumberControl.invalid"
        >
          <input
            class="input"
            type="text"
            placeholder="Document Number"
            formControlName="documentNumber"
          />
        </label>
        <label
          class="upload-file"
          [class]="inputColor"
          (click)="onUploadDocument()"
        >
          <svg>
            <use
              xlink:href="assets/icons/global-sprint.svg#gb-file-upload-arrow"
            ></use>
          </svg>
          <input type="file" formControlName="uploadedDocument" />
        </label>
      </div>
    </div>
  </form>
</div>
