@import "src/mixins/styles-mixin";
@import "src/styles/colors";

:host {
  width: 100%;
  height: calc(100% - 55px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  position: absolute;
}

.content {
  @include scroll;
  padding-right: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 15px;
  &__shadowLive,
  &__shadowBody,
  &__shadowSport {
    border-radius: 10px;
    height: calc(100% - 20px);
    filter: drop-shadow(2px 2px 2px $layout-bg);
    min-height: 285px;
    min-width: 350px;
  }
  &__shadowBody {
    border-radius: 10px;
    grid-column: 2/2;
    grid-row: 1/2;
    &--body {
      @include scroll;
      width: 100%;
      height: 100%;
      padding-right: 3px;
      overflow-y: auto;
      overflow-x: hidden;
      &::before {
        content: "";
        display: flex;
        height: 165px;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 889px) {
  .content {
    display: flex;
    flex-direction: column;
    &__shadowBody {
      flex-shrink: 0;
      min-height: 780px;
      &--body {
        height: 100% !important;
        overflow-y: hidden;
        .user-info-content {
          flex-shrink: 0;
        }
      }
    }
    &__shadowSport {
      margin-bottom: 10px;
    }
  }
}
@media screen and (max-width: 1317px) {
  .content {
    &__shadowBody {
      height: 100% !important;
      grid-row: 1/3;
      &--body {
        height: calc(100% - 20px);
      }
    }
  }
}
