<app-loader *ngIf="isLoading; else contentModel"></app-loader>
<ng-template #contentModel>
  <div class="content">
    <div class="content__filters">
      <div class="favorite">
        <div class="wrapper-content" (click)="onSelectFavorite()">
          <div class="cover">
            <div class="star-shadow">
              <svg *ngIf="filterForm && filterForm.isFavorite; else favoriteModel">
                <use xlink:href="assets/icons/global-sprint.svg#gb-star-fill"></use>
              </svg>
              <ng-template #favoriteModel>
                <svg>
                  <use xlink:href="assets/icons/global-sprint.svg#gb-star-stroke"></use>
                </svg>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="date filter">
        <div class="wrapper-content">
          <label class="label left">
            <div class="cover">
              <span>From:</span>
              <input
                type="date"
                autocomplete="off"
                (change)="onSelectDateFrom($event)"
              />
              <svg>
                <use
                  xlink:href="assets/icons/global-sprint.svg#gb-calendar-date"
                ></use>
              </svg>
            </div>
          </label>
        </div>
        <div class="wrapper-content">
          <label class="label right">
            <div class="cover">
              <span>To:</span>
              <input
                type="date"
                autocomplete="off"
                (change)="onSelectDateTo($event)"
              />
              <svg>
                <use
                  xlink:href="assets/icons/global-sprint.svg#gb-calendar-date"
                ></use>
              </svg>
            </div>
          </label>
        </div>
      </div>
      <div class="options filter">
        <app-multiselect
          [ngStyle]="{ '--index': 0 }"
          [data]="status"
          [keyName]="'id'"
          placeholder="Status"
          [className]="'form-filed'"
          (onSelect)="onSelectStatusFilter($event)"
        >
        </app-multiselect>
        <app-multiselect
          [ngStyle]="{ '--index': 1 }"
          [cutSide]="'right'"
          [data]="betType"
          [keyName]="'id'"
          placeholder=" Type"
          [className]="'form-filed'"
          (onSelect)="onSelectTypeFilter($event)"
        >
        </app-multiselect>
      </div>
      <div class="search filter">
        <app-search
          (getSearchedText)="getSearchedText($event)"
          class="search-component"
        ></app-search>
      </div>
    </div>
    <div class="content__table">
      <div class="content__table--cover">
        <div class="table-body">
          <app-list-message (selectedMessage)="getSelectedMessage($event)" (newMessage)="createNewMessage($event)"></app-list-message>
          <app-new-message *ngIf="createMessage; else viewMessageModel"></app-new-message>
          <ng-template #viewMessageModel>
            <app-view-message *ngIf="!createMessage" [message]="selectedMessage"></app-view-message>
          </ng-template>
        </div>
      </div>
    </div>           
  </div>
</ng-template>

