@import "src/mixins/styles-mixin";
@import "src/styles/colors";

:host {
  width: 100%;
  height: 100%;
}
input {
  -webkit-autofill: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: linear-gradient(#1c1c23 0%, #2d2d37 100%);
  width: 100%;
  height: 100%;
  text-align: left;
  &::placeholder {
    color: $white;
    opacity: 0.7;
    font-weight: 500;
  }
}

.create-password-content {
  width: 100%;
  height: 100%;
  .header {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 30px;
    margin-bottom: 25px;
    .info {
      font-family: "Roboto", sans-serif;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 30px;
      min-height: 30px;
      background: $lighter-gray;
      border: 1px solid $yellow;
      border-top: 0;
      border-radius: 100%;
      color: $yellow;
      font-size: 16px;
      filter: drop-shadow(0px 1px 1px #000000);
    }
    .title {
      width: 100%;
      height: 100%;
      margin-left: -10%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      .text {
        font-size: clamp(12px, 1.2vw, 30px);
        position: absolute;
        font-weight: 700;
        color: $yellow;
        margin-bottom: 15px;
      }
      .wrapper {
        @include modal-title-vector;
        background: $yellow;
        width: 70%;
        height: 100%;
      }
      .decor {
        @include modal-title-decor;
        position: absolute;
        background: $yellow;
        width: 12%;
        height: 16%;
        bottom: -1px;
      }
    }
  }
  form {
    width: 100%;
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      height: 100%;
      width: 100%;
      .verification-title {
        width: 100%;
        margin-bottom: 10px;
        margin-left: 15px;
        span {
          width: 100%;
          color: $smooth-white;
          font-size: 0.9em;
          font-weight: 500;
        }
      }
      .row {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: nowrap;
        position: relative;
        .content {
          position: relative;
          filter: drop-shadow(4px 8px 16px rgba(0, 0, 0, 0.3));
          width: 100%;
          .success-left {
            background: $border-gradient-to-right-success;
          }
          .success-right {
            background: $border-gradient-to-left-success;
          }
          .error-left {
            background: $border-gradient-to-right-error;
          }
          .error-right {
            background: $border-gradient-to-left-error;
          }
          &.margin-right {
            margin-right: -5px;
          }
          .recover {
            position: absolute;
            display: flex;
            margin-top: 20px;
          }
          &__wrapper--left,
          &__wrapper--right {
            padding: 1px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            position: relative;
            &--input {
              color: $white;
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              min-height: 40px;
              padding-left: 20px;
              padding-right: 15px;
            }
            .password-visibility {
              position: absolute;
              right: 10px;
              top: 50%;
              width: 20px;
              height: 20px;
              transform: translateY(-50%);
              svg {
                cursor: pointer;
                width: 100%;
                height: 100%;
                fill: $yellow;
              }
            }
          }
          &__wrapper--left {
            @include input-left;
            background: $border-gradient-to-right;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            .password-visibility {
              right: 15%;
            }
            &--input {
              @include input-left-cover;
              border-top-left-radius: 20px;
              border-bottom-left-radius: 20px;
            }
          }
          &__wrapper--right {
            @include input-right;
            background: $border-gradient-to-left;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            .password-visibility {
              right: 8%;
            }
            &--input {
              @include input-right-cover;
              border-top-right-radius: 20px;
              border-bottom-right-radius: 20px;
            }
          }
          &__feedback-error {
            position: absolute;
            font-size: clamp(9px, 1vw, 12px);
            color: $red;
            bottom: -15px;
            left: 15px;
          }
        }
        .validation-rule {
          position: absolute;
          bottom: -30px;
          left: 10px;
          width: 100%;
          color: $smooth-white;
          font-size: 0.7em;
          font-weight: 500;
        }
      }
    }
    .footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      .reset-btn-wrapper {
        @include squad-small;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $yellow;
        height: 100%;
        max-height: 30px;
        width: 30%;
        padding: 1px;
        &:hover {
          transform: scale(1.02);
        }
        .reset-btn-cover {
          @include squad-small;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          position: relative;
          background: rgba($layout-bg, 0.5);
          border: none;
          color: $white;
          cursor: pointer;
        }
      }
    }
  }
  &.mobile {
    form {
      .content {
        .row {
          flex-direction: column;
          gap: 25px;
          .content {
            .success-right,
            .success-left {
              background: $border-gradient-to-left-success;
            }
            .error-right,
            .error-left {
              background: $border-gradient-to-right-error;
            }
            &__wrapper--left,
            &__wrapper--right {
              clip-path: unset;
              border-radius: 20px;
              background: $border-gradient-to-right;
              &--input {
                clip-path: unset;
                border-radius: 20px;
              }
              .password-visibility {
                right: 5%;
              }
            }
          }
          .validation-rule {
            bottom: -50px;
          }
        }
      }
    }
  }
}
