<div class="create-password-content" [class.mobile]="isMobile">
  <div class="header">
    <div class="info">
      <span>?</span>
    </div>
    <div class="title">
      <span class="text">Create new Password</span>
      <div class="wrapper"></div>
      <div class="decor"></div>
    </div>
  </div>
  <form [formGroup]="newPasswordForm" (ngSubmit)="submitForm()">
    <div class="content">
      <div class="verification-title">
        <span>Create your New Password</span>
      </div>
      <div class="row">
        <div class="content margin-right">
          <div
            class="content__wrapper--left"
            [class.success-left]="passwordControl.touched && passwordControl.valid"
            [class.error-left]="passwordControl.touched && passwordControl.invalid"
          >
            <input
              class="content__wrapper--left--input"
              type="email"
              autocomplete="off"
              formControlName="password"
              placeholder="New Password"
            />
            <div
              class="password-visibility"
              (click)="handlePasswordVisibility()"
            >
              <svg *ngIf="isPasswordVisible; else hideContent">
                <use
                  xlink:href="assets/icons/global-sprint.svg#gb-show-password"
                ></use>
              </svg>
              <ng-template #hideContent>
                <svg>
                  <use
                    xlink:href="assets/icons/global-sprint.svg#gb-hide-password"
                  ></use>
                </svg>
              </ng-template>
            </div>
          </div>
          <span
            class="content__feedback-error"
            *ngIf="passwordControl.touched && passwordControl.invalid"
            >Error text</span
          >
        </div>
        <div class="content margin-right">
          <div
            class="content__wrapper--right"
            [class.success-right]="
              repeatPasswordControl.touched && repeatPasswordControl.valid
            "
            [class.error-right]="
              repeatPasswordControl.touched && repeatPasswordControl.invalid
            "
          >
            <input
              class="content__wrapper--right--input"
              type="{{ isRepeatPasswordVisible ? 'text' : 'password' }}"
              autocomplete="off"
              formControlName="repeatPassword"
              placeholder="Password"
            />
            <div
              class="password-visibility"
              (click)="handleRepeatPasswordVisibility()"
            >
              <svg *ngIf="isRepeatPasswordVisible; else hideContent">
                <use
                  xlink:href="assets/icons/global-sprint.svg#gb-show-password"
                ></use>
              </svg>
              <ng-template #hideContent>
                <svg>
                  <use
                    xlink:href="assets/icons/global-sprint.svg#gb-hide-password"
                  ></use>
                </svg>
              </ng-template>
            </div>
          </div>
          <span
            class="content__feedback-error"
            *ngIf="repeatPasswordControl.touched && repeatPasswordControl.invalid"
            >Error text</span
          >
        </div>
        <span class="validation-rule">Use 8 or more characters with a mix of letters, numbers & symbols</span>
      </div>
    </div>
    <div class="footer">
      <div class="reset-btn-wrapper">
        <button type="submit" class="reset-btn-cover">Reset</button>
      </div>
    </div>
  </form>
</div>
