<app-loader *ngIf="isLoading; else contentModel"></app-loader>
<ng-template #contentModel>
  <div class="content" *ngIf="data">
    <div class="cards">
      <div class="amount-cards">
        <app-amount-card
          *ngFor="let item of data"
          class="amount-cards-component"
          buttonType="Deposit"
          buttonColor="yellow"
          dropdownButtonType="squad"
          [data]="item"
        ></app-amount-card>
      </div>
      <div class="plastic-cards">
        <div class="plastic-cards--cover">
          <div class="header">
            <span class="title">Your Cards</span>
            <div class="card-count">
              <div class="card-count--cover">2</div>
            </div>
          </div>
          <div class="body">
            <app-plastic-card class="bank-card-component"></app-plastic-card>
            <app-plastic-card class="bank-card-component"></app-plastic-card>
            <div class="add-card-zone">
              <svg>
                <use xlink:href="assets/icons/global-sprint.svg#gb-plus"></use>
              </svg>
              <span>ADD CARD</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="methods">
      <div class="wrapper">
        <div class="menu" [ngStyle]="{ '--idx': selectedOption.index }">
          <div class="border_top"></div>
          <div
            *ngFor="let option of OPTIONS"
            class="menu_item"
            (click)="onSelectItemHandler(option)"
            [ngClass]="{ menu_item_active: selectedOption.id === option.id }"
          >
            <span>{{ option.name }}</span>
          </div>
          <div class="background"></div>
          <div class="border_bottom"></div>
        </div>
        <div class="body" [ngSwitch]="selectedOption.id">
          <app-deposit *ngSwitchCase="0"></app-deposit>
          <app-withdraw *ngSwitchCase="1"></app-withdraw>
          <app-withdraw-status *ngSwitchCase="2"></app-withdraw-status>
          <app-balance-history *ngSwitchCase="3"></app-balance-history>
        </div>
      </div>
    </div>
  </div>
</ng-template>
