<div class="content">
  <div class="wrapper">
    <div class="cover">
      <div class="header">
        <span class="title">Session History</span>
        <button (click)="onClearSessionHistory()">
          <div class="cover">
            <span>Clear All</span>
          </div>
        </button>
      </div>
      <div class="body">
        <div class="row" *ngFor="let item of data">
          <div class="row-cover">
            <div class="round line"></div>
            <div class="item line">
              <span>{{item.devicetype}}</span>
              <span>{{item.date}} / {{item.time}}</span>
            </div>
            <div class="item line">
              <span>{{item.location}}</span>
              <span>IP : {{item.ipAddress}}</span>
            </div>
            <div class="remove" (click)="onRemoveFromHistory()">
              <span class="remove-line"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
