<div class="content">
  <div class="header">
    <div class="msg-type">
      <button
        (click)="showType('inbox')"
        [class.active]="selectedType === 'inbox'"
      >
        <div class="cover">
          <span class="name">Inbox</span>
          <span class="count">{{ inboxMsgCount }}</span>
        </div>
      </button>
      <button
        (click)="showType('sent')"
        [class.active]="selectedType === 'sent'"
      >
        <div class="cover">
          <span class="name">Sent</span>
          <span class="count">{{ sentMsgCount }}</span>
        </div>
      </button>
    </div>
    <div class="msg-action">
      <button (click)="createNewMessage()">
        <div class="cover">
          <span>New Message</span>
        </div>
      </button>
      <button (click)="clearAll()">
        <div class="cover">
          <span>Clear All</span>
        </div>
      </button>
    </div>
  </div>
  <div class="body">
    <div
      class="row"
      *ngFor="let message of filteredMessages"
      (click)="viewMessage(message)"
    >
      <div class="cover">
        <div class="first">
          <div
            class="checkbox-wrapper"
            [class.checked]="setClass(message)"
          >
            <input
              type="checkbox"
              class="cover"
              (click)="selectItem($event, message)"
            />
          </div>
          <div class="star-shadow">
            <svg *ngIf="false; else favoriteModel">
              <use
                xlink:href="assets/icons/global-sprint.svg#gb-star-fill"
              ></use>
            </svg>
            <ng-template #favoriteModel>
              <svg>
                <use
                  xlink:href="assets/icons/global-sprint.svg#gb-star-stroke"
                ></use>
              </svg>
            </ng-template>
          </div>
          <span>{{ message.title }}</span>
        </div>
        <div class="center">
          <span>{{ message.text }}</span>
        </div>
        <div class="last">
          <span>{{ message.date }}</span>
          <svg [id]="'row-arrow-' + message.id">
            <use
              xlink:href="assets/icons/global-sprint.svg#gb-arrow-down"
            ></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
