<app-loader *ngIf="isLoading; else contentModel"></app-loader>
<ng-template #contentModel>
  <div class="content">
    <div class="cover">
      <div class="header">
        <span
          class="title"
          [class.active]="selectedTab === 'profile_info'"
          (click)="selectTab('profile_info')"
          >Profile Info</span
        >
        <span
          class="title"
          [class.active]="selectedTab === 'notifications'"
          (click)="selectTab('notifications')"
          >Notification</span
        >
        <span
          class="title"
          [class.active]="selectedTab === 'protection'"
          (click)="selectTab('protection')"
          >Protection</span
        >
      </div>
      <div class="body">
        <ng-container *ngIf="selectedTab === 'profile_info'">
          <div class="row">
            <app-mobile-profile-form></app-mobile-profile-form>
          </div>
          <div class="submit">
            <button type="submit">
              <div class="cover">
                <span>Change</span>
              </div>
            </button>
          </div>
        </ng-container>
        <ng-container *ngIf="selectedTab === 'notifications'">
          <div class="row">
            <app-edit-profile-notification [isMobile]="true"></app-edit-profile-notification>
          </div>
        </ng-container>
        <ng-container *ngIf="selectedTab === 'protection'">
          <div class="row">
            <app-wallets [isMobile]="true"></app-wallets>
          </div>
          <div class="row">
            <app-send-money-friends [isMobile]="true"></app-send-money-friends>
          </div>
        </ng-container>
        
      </div>
    </div>
  </div>
</ng-template>
