@import "src/mixins/styles-mixin";
@import "src/styles/colors";

:host {
  width: 100%;
  height: calc(100% - 55px);
}

.content {
  @include squad-big;
  background: $border-gradient-to-bottom;
  width: 100%;
  height: 100%;
  padding: 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  .cover {
    @include squad-big;
    display: flex;
    flex-direction: column;
    background: $user-platform-section-gradient;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    .header {
      width: calc(100% - 30px);
      padding: 5px 15px;
      min-height: 40px;
      background: $user-platform-section-header-bg;
      border-bottom: 1px solid $yellow;
      border-radius: 10px 10px 0 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .title {
        position: relative;
        color: $white;
        font-size: 0.8em;
        font-weight: 800;
        white-space: nowrap;
        &.active {
          color: $yellow;
          &::after {
            content: "";
            position: absolute;
            @include user-platform-tabs-decor;
            transform: translateX(-50%);
            max-width: 35px;
            max-height: 5px;
            width: 100%;
            height: 100%;
            background: $yellow;
            left: 50%;
            top: calc(100% + 3px);
          }
        }
      }
    }
    .body {
      @include scroll;
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      width: calc(100% - 25px);
      height: calc(100% - 20px);
      padding: 10px;
      margin-right: 5px;
      gap: 15px;
      .row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;
        gap: 15px;
      }
      .submit {
        width: 100%;
        height: 100%;
        max-height: 125px;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          @include removed-styles-button;
          @include squad-small;
          filter: drop-shadow(3px 6px 3px #00000083);
          padding: 1px;
          background: $yellow;
          max-width: 125px;
          height: 30px;
          width: 100%;
          border-radius: 3px;
          transition: transform 0.05s ease;
          .cover {
            @include squad-small;
            width: 100%;
            height: 100%;
            background: $smooth-yellow;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            span {
              width: 100%;
              color: $smooth-white;
              text-align: center;
              font-size: 0.8em;
              font-weight: 700;
              padding: 4px 15px;
            }
          }
          &:hover {
            transform: scale(1.02);
          }
        }
      }
    }
  }
}
