<div class="content">
  <div class="language-switcher">
    <gb-language-switcher [isMobile]="true"></gb-language-switcher>
  </div>
  <div class="auth-wrapper">
    <gb-mobile-auth></gb-mobile-auth>
  </div>

  <div class="content__body">
    <div class="content__body--wrapper"></div>
  </div>

  <div class="content__footer">
    <span>Powered by Cincomatic</span>
    <div class="content__footer--icon"></div>
    <span>Designed by Dream in Art</span>
  </div>

  <gb-logo class="content__logo"></gb-logo>
  <gb-mobile-actions class="content__actions" [actionsCount]="actionsCount"></gb-mobile-actions>
</div>
