<div class="content">
  <div class="content__filters">
    <div class="date filter">
      <div class="wrapper-content">
        <label class="label left">
          <div class="cover">
            <span>From:</span>
            <input
              type="date"
              autocomplete="off"
              (change)="onSelectDateFrom($event)"
            />
            <svg>
              <use
                xlink:href="assets/icons/global-sprint.svg#gb-calendar-date"
              ></use>
            </svg>
          </div>
        </label>
      </div>
      <div class="wrapper-content">
        <label class="label right">
          <div class="cover">
            <span>To:</span>
            <input
              type="date"
              autocomplete="off"
              (change)="onSelectDateTo($event)"
            />
            <svg>
              <use
                xlink:href="assets/icons/global-sprint.svg#gb-calendar-date"
              ></use>
            </svg>
          </div>
        </label>
      </div>
    </div>
    <div class="options filter">
      <gb-multiselect
        [data]="status"
        [keyName]="'id'"
        placeholder="Status"
        class="form-filed margin-right"
        (onSelect)="onSelectStatusFilter($event)"
      >
      </gb-multiselect>

      <gb-multiselect
        [cutSide]="'both'"
        [data]="method"
        [keyName]="'id'"
        placeholder="Method"
        class="form-filed"
        (onSelect)="onSelectMethodFilter($event)"
      >
      </gb-multiselect>

      <gb-multiselect
        [cutSide]="'right'"
        [data]="currency"
        [keyName]="'id'"
        placeholder="Currency"
        class="form-filed margin-left"
        (onSelect)="onSelectCurrencyFilter($event)"
      >
      </gb-multiselect>

      <gb-search (getSearchedText)="getSearchedText($event)"></gb-search>
    </div>
  </div>
  <div class="content__table">
    <div class="content__table--cover">
      <div class="table-header">
        <span *ngFor="let item of tableHeader">{{ item.name }}</span>
      </div>
      <div class="table-body" >
        <div
          *ngFor="let data of tableData"
          [ngClass]="{
            red: data.status === 'Faild',
            green: data.status === 'Paid',
            yellow: data.status === 'Pending'
          }"
          class="row"
        >
          <div
            class="row--cover"
            [ngClass]="{
              red: data.status === 'Faild',
              green: data.status === 'Paid',
              yellow: data.status === 'Pending'
            }"
          >
            <span>{{ data.dateAndTime }}</span>
            <span>{{ data.id }}</span>
            <span>{{ data.paymentMethod }}</span>
            <span>{{ data.amount }}</span>
            <span>{{ data.status }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="gb-error-wrapper">
  <gb-multiselect
  [cutSide]="'right'"
    [error]="
      !!(
        filterForm.get('status')?.hasError('required') &&
        filterForm.get('status')?.touched &&
        filterForm.get('status')?.dirty
      )
    "
    formControlName="status"
    style="width: 200px"
    placeholder="Status"
    [data]="status"
    [keyName]="'id'"
  >
  </gb-multiselect>
  <span
    class="gb-error"
    *ngIf="
      filterForm.get('status')?.hasError('required') &&
      filterForm.get('status')?.touched &&
      filterForm.get('status')?.dirty
    "
    >Error
  </span>
</div> -->
