@import "src/mixins/styles-mixin";
@import "src/styles/colors";

:host {
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  height: 100%;
  &__filters {
    @include scroll;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    gap: 10px;
    max-height: 80px;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .date {
      .wrapper-content {
        &:last-child {
          margin-left: -10px;
        }
        .left {
          span {
            margin: 0 5px 0 10px;
          }
        }
        .right {
          span {
            margin: 0 5px 0 20px;
          }
        }
      }
    }
    .options {
      gap: 10px;
      .wrapper-content {
        svg {
          pointer-events: none;
        }
        input {
          cursor: pointer;
        }
        .left {
          input {
            margin: 0 25px 0 10px;
          }
        }
        .middle {
          input {
            margin: 0 25px;
          }
        }
        .right {
          input {
            margin: 0 10px 0 25px;
          }
        }
      }
    }
    .filter {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      width: 100%;
      filter: drop-shadow(2px 2px 2px #00000083);
      .wrapper-content {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        .label {
          display: flex;
          align-items: center;
          justify-content: center;
          background: $yellow;
          width: 100%;
          min-width: 155px;
          padding: 1px;
          height: 40px;
          .cover {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            flex-wrap: nowrap;
            span {
              font-size: 0.7em;
              font-weight: 700;
            }
            svg {
              position: absolute;
              width: 14px;
              height: 14px;
              fill: $yellow;
              right: 20px;
            }
            .multiselect {
              position: absolute;
              width: 100%;
              height: 100%;
            }
          }
          &.left {
            @include input-left;
            border-radius: 20px 0 0 20px;
            .cover {
              @include input-left;
              background: linear-gradient(#1c1c23 0%, #2d2d37 100%);
              border-radius: 20px 0 0 20px;
            }
          }
          &.middle {
            @include input-middle;
            .cover {
              @include input-middle;
              background: linear-gradient(#1c1c23 0%, #2d2d37 100%);
            }
          }
          &.right {
            @include input-right;
            border-radius: 0 20px 20px 0;
            .cover {
              @include input-right;
              background: linear-gradient(#1c1c23 0%, #2d2d37 100%);
              border-radius: 0 20px 20px 0;
            }
          }
        }
      }
    }
    .form-filed {
      min-width: 225px;
      width: 30%;
      &.margin-right {
        margin-right: -20px;
      }
      &.margin-left {
        margin-left: -20px;
      }
    }
  }
  &__table {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 65px);
    border-radius: 10px;
    background: $border-gradient-to-bottom;
    padding: 1px;
    &--cover {
      width: 100%;
      height: 100%;
      background: $darker-gray;
      border-radius: 10px;
      position: relative;
      .table-header {
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        top: 0;
        border-radius: 10px 10px 0 0;
        height: 50px;
        width: calc(100% - 20px);
        background: $light-gray;
        padding: 0 10px;
        border-bottom: 1px solid $yellow;
        span {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: center;
          color: $smooth-white;
          width: 100%;
          height: 100%;
          font-size: 0.9em;
          font-weight: 500;
        }
      }
      .table-body {
        @include scroll;
        display: flex;
        flex-direction: column;
        margin-top: 51px;
        border-radius: 0 0 10px 10px;
        width: calc(100% - 24px);
        padding: 10px;
        height: calc(100% - 70px);
        overflow-y: auto;
        overflow-x: hidden;
        gap: 10px;
        .row {
          @include squad-small;
          width: 100%;
          min-height: 40px;
          padding: 1px;
          background: $table-row-gradient-yellow;
          &.red {
            background: $table-row-gradient-red;
          }
          &.green {
            background: $table-row-gradient-green;
          }
          &.yellow {
            background: $table-row-gradient-yellow;
          }
          &--cover {
            @include squad-small;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 100%;
            height: 100%;
            background: $table-row-gradient-yellow-bg;
            span {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 100%;
              font-size: 0.9em;
              font-weight: 500;
            }
            &.red {
              background: $table-row-gradient-red-bg;
            }
            &.green {
              background: $table-row-gradient-green-bg;
            }
            &.yellow {
              background: $table-row-gradient-yellow-bg;
            }
          }
        }
      }
    }
  }
}
