<div class="content">
  <div class="wrapper">
    <div class="cover">
      <div class="scroll">
        <div class="row">
          <app-deposit-method-card></app-deposit-method-card>
          <app-deposit-method-card></app-deposit-method-card>
          <app-deposit-method-card></app-deposit-method-card>
          <app-deposit-method-card></app-deposit-method-card>
          <app-deposit-method-card></app-deposit-method-card>
        </div>
        <div class="row">
          <app-all-method-card></app-all-method-card>
        </div>
        <div class="row">
          <app-all-method-card></app-all-method-card>
        </div>
        <div class="row">
          <app-all-method-card></app-all-method-card>
        </div>
        <div class="row">
          <app-all-method-card></app-all-method-card>
        </div>
      </div>
    </div>
  </div>
</div>
