<div class="content" *ngIf="data">
  <div class="cards">
      <app-amount-card
        *ngFor="let item of data"
        class="amount-cards-component"
        buttonType="Deposit"
        buttonColor="yellow"
        dropdownButtonType="squad"
        [data]="item"
      ></app-amount-card>
    <div class="plastic-cards">
      <div class="plastic-cards--cover">
        <div class="header">
          <span class="title">Your Cards</span>
          <div class="card-count">
            <div class="card-count--cover">2</div>
          </div>
        </div>
        <div class="body">
          <app-plastic-card class="bank-card-component"></app-plastic-card>
          <app-plastic-card class="bank-card-component"></app-plastic-card>
          <div class="add-card-zone">
            <svg>
              <use xlink:href="assets/icons/global-sprint.svg#gb-plus"></use>
            </svg>
            <span>ADD CARD</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="methods">
    <div appResizeEnd (resizeEnd)="onResizeEnd()" #tooltipRef class="wrapper">
      <div class="tabs-header">
        <div #haederRef class="header-space"></div>
        <div class="header-items">
          <ng-container *ngFor="let option of OPTIONS">
            <div #tabElementRef class="item" [class.active]="option.isActive" (click)="selectTab($event.target, option)">
              <span class="title">{{ option.name }}</span>
              <div *ngIf="option.isActive" class="background"></div>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="body" [ngSwitch]="selectedOption.id">
        <app-deposit *ngSwitchCase="0"></app-deposit>
        <app-withdraw *ngSwitchCase="1"></app-withdraw>
        <app-withdraw-status *ngSwitchCase="2"></app-withdraw-status>
        <app-balance-history *ngSwitchCase="3"></app-balance-history>
      </div>
    </div>
  </div>
</div>