@import "src/mixins/styles-mixin";
@import "src/styles/colors";

:host {
  width: 100%;
  height: 100%;
}

.content {
  @include scroll;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  row-gap: 20px;
  padding-right: 10px;
  .cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 190px;
    flex-shrink: 0;
    gap: 20px;
    .amount-cards-component {
      width: calc(100% - 2px);
      height: 100%;
    }
    .plastic-cards {
      clip-path: polygon(
        0% 0%,
        calc(100% - 15px) 0%,
        100% 15px,
        100% 100%,
        15px 100%,
        0% calc(100% - 15px),
        0% 0%
      );
      width: 100%;
      height: 100%;
      background: $light-gray;
      border-radius: 5px;
      padding: 1px;
      &--cover {
        clip-path: polygon(
          0% 0%,
          calc(100% - 15px) 0%,
          100% 15px,
          100% 100%,
          15px 100%,
          0% calc(100% - 15px),
          0% 0%
        );
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: $darker-gray;
        border-radius: 5px;
        .header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: calc(100% - 20px);
          height: 25px;
          background: rgba($light-gray, 0.9);
          padding: 5px 10px;
          .title {
            font-size: 0.7em;
            font-weight: 800;
            letter-spacing: 0.15em;
            color: $smooth-white;
          }
          .card-count {
            width: 32px;
            height: 22px;
            padding: 0 1px 1px 1px;
            border-radius: 16px;
            background: $yellow;
            &--cover {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 100%;
              border-radius: 16px;
              background: $lighter-gray;
              font-size: 0.6em;
              font-weight: 700;
            }
          }
        }
        .body {
          @include scroll;
          overflow-x: auto;
          overflow-y: hidden;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          flex-wrap: nowrap;
          width: calc(100% - 20px);
          height: 100%;
          margin: 10px;
          padding: 3px;
          gap: 15px;
          .bank-card-component,
          .add-card-zone {
            max-width: 320px;
            max-height: 120px;
            min-width: 210px;
            min-height: 100px;
            width: 100%;
            height: 100%;
          }
          .add-card-zone {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            background: $light-gray;
            row-gap: 10px;
            cursor: pointer;
            background-position: 0 0, 0 0, 100% 0, 0 100%;
            background-size: 2px 100%, 100% 2px, 2px 100%, 100% 2px;
            background-repeat: no-repeat;
            line-height: 1;
            background-image: repeating-linear-gradient(
                0deg,
                $lighter-gray,
                $lighter-gray 10px,
                transparent 10px,
                transparent 15px
              ),
              repeating-linear-gradient(
                90deg,
                $lighter-gray,
                $lighter-gray 10px,
                transparent 10px,
                transparent 15px
              ),
              repeating-linear-gradient(
                180deg,
                $lighter-gray,
                $lighter-gray 10px,
                transparent 10px,
                transparent 15px
              ),
              repeating-linear-gradient(
                270deg,
                $lighter-gray,
                $lighter-gray 10px,
                transparent 10px,
                transparent 15px
              );
            &:hover {
              svg {
                fill: $yellow;
              }
              span {
                color: $yellow;
              }
            }
            svg {
              transition: fill 0.1s ease;
              width: 48px;
              height: 48px;
              fill: $lighter-gray;
            }
            span {
              transition: color 0.1s ease;
              text-align: center;
              color: $lighter-gray;
              font-size: 1.4em;
              font-weight: 700;
              width: 100%;
            }
          }
        }
      }
    }
  }
  .methods {
    width: 100%;
    background: $border-gradient-to-bottom;
    padding: 1px;
    border-radius: 10px;
    min-height: 325px;
    max-height: calc(100svh - 150px);
    flex-shrink: 0;
    .wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background: linear-gradient(83deg, #1c1c23 0%, #2d2d37 100%);
      .tabs-header {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 38px;
        flex-shrink: 0;
        border-radius: 10px;
        .header-space {
          $elemLeft: var(--elemLeft);
          $elemWidth: var(--elemWidth);
          @include user-platform-balance-horizontal-vector(
            $elemLeft,
            $elemWidth
          );
          transition: 0.15s all ease;
          width: 100%;
          height: 100%;
          background: $yellow;
          border-radius: 10px 10px 0 0;
          padding-bottom: 1px;
        }
        .header-items {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          width: 100%;
          height: 100%;
          position: absolute;
          bottom: 0;
          gap: 4%;
          .item {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            color: $yellow;
            cursor: pointer;
            outline: none;
            position: relative;
            text-align: center;
            &:hover {
              .title {
                color: $yellow;
              }
            }
            &.active {
              pointer-events: none;
              .background {
                position: absolute;
                width: calc(100% + 10px);
                height: 100%;
                background: linear-gradient(
                  180deg,
                  rgba(220, 181, 103, 0.178) 0%,
                  rgba(220, 181, 103, 0) 80%
                );
              }
              .title {
                color: $yellow;
              }
            }
            .title {
              transition: color 0.15s ease;
              font-size: clamp(12px, 1vw, 14px);
              color: $smooth-white;
              font-weight: 700;
            }
          }
        }
      }

      .body {
        width: calc(100% - 20px);
        height: calc(100% - 60px);
        border-radius: 10px;
        margin: 10px;
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .content {
    .methods {
      .wrapper {
        .tabs-header {
          .header-items {
            .item {
              .title {
                font-size: clamp(10px, 1vw, 12px);
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
}
