@import "./styles/colors";
@import "src/mixins/styles-mixin";
@import "src/assets/fonts/fonts.scss";

html {
  line-height: 1.15;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: $layout-bg;
  width: 100%;
  height: 100%;
  overflow: auto;
  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 3px;
  }
  &::-webkit-scrollbar {
    height: 8px;
    background-color: transparent;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: $lighter-gray;
  }
  .cards {
    flex-direction: column;
  }
}

* {
  font-family: "Roboto", sans-serif;
}

button,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

.app-error-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 56px;
}

.app-error {
  margin-left: 18px;
  color: $red;
  margin-top: 2px;
  font-size: 0.75em;
}
input {
  -webkit-autofill: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: linear-gradient(#1c1c23 0%, #2d2d37 100%);
  width: 100%;
  height: 100%;
  text-align: left;
  margin: 0;
  padding: 0;
  &::placeholder {
    color: $white;
    opacity: 0.7;
    font-weight: 500;
  }
}

#app-multiselect-dropdown {
  width: 100%;
  .dropdown__list {
    @include scroll;
    width: 100%;
    max-height: 205px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 5px;
    background: $dark-gray;
    border: 1px solid $yellow;
    box-shadow: 1px 2px 5px 3px rgba(0, 0, 0, 0.5);
    .option {
      height: 30px;
      padding: 5px;
      font-size: 0.9em;
      display: flex;
      cursor: pointer;
      align-items: center;
      background: $dark-gray;
      justify-content: space-between;
      transition: 0.15s background-color ease;
      &:nth-child(even) {
        background: $light-gray;
      }
      &:hover {
        background: $lighter-gray;
      }
      .checkbox--wrapper {
        @include form-checkbox;
        padding: 1px;
        display: flex;
        width: 20px;
        height: 20px;
        align-items: center;
        justify-content: center;
        background: $lighter-gray;
        input {
          width: 100%;
          height: 100%;
          display: flex;
          position: relative;
          align-items: center;
          background: $dark-gray;
          justify-content: center;
          @include form-checkbox;
          cursor: pointer;
          aspect-ratio: 1/1;
        }
        input[type="checkbox"] {
          display: flex;
          appearance: none;
          box-shadow: none;
          align-items: center;
          justify-content: center;
        }
        &.checked {
          background: $yellow;
          input[type="checkbox"]:after {
            content: "\2713";
            display: flex;
            color: $yellow;
          }
        }
      }
      .value {
        width: 100%;
        height: 100%;
        display: flex;
        font-size: 0.8em;
        font-weight: 500;
        align-items: center;
        font-style: normal;
        user-select: none;
        line-height: normal;
        color: rgba($white, 0.8);
        margin-left: 10px;
      }
    }
  }
}

#app-multiselect-autocomplate-dropdown {
  width: 100%;
  .dropdown__list {
    width: 100%;
    max-height: 205px;
    border-radius: 5px;
    background: $dark-gray;
    border: 1px solid $yellow;
    box-shadow: 1px 2px 5px 3px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      &--search {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        height: 25px;
        margin-right: 5px;
        .wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          @include select-box-search;
          width: 100%;
          height: 100%;
          padding: 1px;
          background: $border-gradient-to-right;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          .cover {
            @include select-box-search-cover;
            background: linear-gradient(#2d2d37 0%, #3a3a4a 100%);
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            width: 100%;
            height: 100%;
            color: $white;
            padding-left: 10px;
            font-size: 11px;
          }
        }
      }
      &--icon {
        position: relative;
        min-height: 25px;
        min-width: 25px;
        .diamond {
          @include search-diamond;
          background: $yellow;
          position: absolute;
          width: 100%;
          height: 100%;
        }
        .lens {
          @include search-lens;
          position: absolute;
          background: $yellow;
          width: 100%;
          height: 100%;
          max-height: 14px;
          max-width: 14px;
          right: 3px;
          bottom: 5px;
        }
      }
    }
    .options-wrapper {
      @include scroll;
      overflow-y: auto;
      overflow-x: hidden;
      width: calc(100% - 2px);
      height: 100%;
      max-height: 170px;
      border-radius: 5px;
      .option {
        height: 25px;
        padding: 5px;
        font-size: 0.9em;
        display: flex;
        cursor: pointer;
        align-items: center;
        background: $dark-gray;
        justify-content: space-between;
        transition: 0.15s background-color ease;
        gap: 10px;
        &:nth-child(even) {
          background: $light-gray;
        }
        &:hover {
          background: $lighter-gray;
        }
        .checkbox--wrapper {
          @include form-checkbox;
          padding: 1px;
          display: flex;
          width: 100%;
          height: 100%;
          max-width: 20px;
          max-height: 20px;
          align-items: center;
          justify-content: center;
          background: $lighter-gray;
          input {
            width: 100%;
            height: 100%;
            display: flex;
            position: relative;
            align-items: center;
            background: $dark-gray;
            justify-content: center;
            @include form-checkbox;
            cursor: pointer;
          }
          input[type="checkbox"] {
            display: flex;
            appearance: none;
            box-shadow: none;
            align-items: center;
            justify-content: center;
          }
          &.checked {
            background: $yellow;
            input[type="checkbox"]:after {
              content: "\2713";
              display: flex;
              color: $yellow;
            }
          }
        }
        .value {
          width: 100%;
          height: 100%;
          display: flex;
          font-size: 0.8em;
          font-weight: 500;
          align-items: center;
          font-style: normal;
          user-select: none;
          line-height: normal;
          color: rgba($white, 0.8);
        }
        .flag {
          width: 100%;
          height: 100%;
          max-width: 18px;
          max-height: 18px;
        }
      }
    }
  }
}

#read-more-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $desktop-blur;
  z-index: 999;

  .content {
    position: relative;
    width: 35%;
    height: 65%;
    min-width: 312px;
    min-height: 344px;
    .body {
      @include user-platform;
      border-radius: 20px;
      .body-wrapper {
        @include user-platform;
        border-radius: 20px;
        &-cover {
          @include user-platform;
          border-radius: 20px;
        }
      }
    }

    &.mobile {
      width: 95%;
      height: 90%;
      .close-wrapper {
        width: 45px;
        height: 35px;
        top: 1px;
        right: -6px;
      }
    }

    .close-wrapper {
      @include small-diamond;
      background: $yellow;
      padding: 1px;
      cursor: pointer;
      position: absolute;
      transform: scale(1);
      z-index: 1;
      width: 60px;
      height: 47px;
      top: -10px;
      right: -20px;
      transition: 0.05s transform ease;
      &:hover {
        transform: scale(1.05);
      }
      .cover {
        @include small-diamond;
        background: $dark-gray;
        width: 100%;
        height: 100%;
        .cross {
          width: 100%;
          height: 100%;
          position: relative;
          &::before,
          &::after {
            content: "";
            position: absolute;
            width: 2px;
            height: 35%;
            top: 25%;
            left: 48%;
            background-color: $yellow;
          }
          &::before {
            transform: rotate(45deg);
          }
          &::after {
            transform: rotate(-45deg);
          }
        }
      }
    }
    .body {
      width: calc(100% - 30px);
      height: calc(100% - 30px);
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: linear-gradient(#1c1c23 0%, #2d2d37 100%);
      gap: 10px;
      .header-shadow,
      .footer-shadow {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        filter: drop-shadow(0 5px 8px $layout-bg);
        .wrapper {
          width: 100%;
          height: 100%;
          padding: 1px;
          border-radius: 13px;
          .cover {
            display: flex;
            padding: 20px;
            width: calc(100% - 40px);
            height: calc(100% - 40px);
            border-radius: 13px;
            background: linear-gradient(#3d404d 0%, #1c1c23 100%);
            overflow: hidden;
            &-content {
              @include scroll;
              display: flex;
              flex-direction: column;
              overflow-y: auto;
              overflow-x: hidden;
              gap: 10px;
              width: 100%;
              height: 100%;
              padding-right: 10px;
              .text {
                text-align: justify;
                color: $smooth-white;
                font-size: 1em;
                font-weight: 400;
                line-height: 20px;
              }
            }
          }
        }
      }
      .header-shadow {
        max-height: 30%;
        .wrapper {
          clip-path: polygon(
            0% 0%,
            calc(100% - 35px) 0%,
            100% 35px,
            100% 100%,
            0% 100%,
            0% 0%
          );
          background: $yellow;
          .cover {
            clip-path: polygon(
              0% 0%,
              calc(100% - 35px) 0%,
              100% 35px,
              100% 100%,
              0% 100%,
              0% 0%
            );
            position: relative;
            justify-content: space-between;
            .inner-background {
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              width: 100%;
              height: 100%;
              background-image: url(/assets/images/read-more-background.svg);
              background-repeat: no-repeat;
              background-size: cover;
              z-index: 0;
              left: 0;
              top: 0;
            }
            .info {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: space-between;
              width: 50%;
              height: 100%;
              z-index: 1;
              .title {
                display: flex;
                flex-direction: column;
                gap: 10px;
                .top {
                  color: $white;
                  font-size: 1.1em;
                  font-weight: 500;
                }
                .bottom {
                  color: $white;
                  font-size: 1em;
                  font-weight: 500;
                }
              }
              .action {
                button {
                  @include removed-styles-button;
                  @include squad-small;
                  width: 100%;
                  height: 100%;
                  padding: 1px;
                  min-height: 30px;
                  min-width: 125px;
                  background: $lighter-gray;
                  transition: transform 0.05s ease;
                  .button-cover {
                    @include squad-small;
                    width: 100%;
                    height: 100%;
                    background: $light-gray;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    span {
                      color: $white;
                      font-size: 0.85em;
                      font-weight: 500;
                    }
                  }
                  &:hover {
                    background: $yellow;
                    transform: scale(1.02);
                    .button-cover {
                      background: $smooth-yellow;
                    }
                  }
                }
              }
            }
            img {
              width: 50%;
              height: 100%;
              position: absolute;
              right: 0;
              top: 0;
              pointer-events: none;
              user-select: none;
              z-index: 1;
            }
          }
        }
      }
      .footer-shadow {
        max-height: 70%;
        .wrapper {
          background: $border-gradient-to-bottom;
          clip-path: polygon(
            0% 0%,
            100% 0%,
            100% 100%,
            35px 100%,
            0% calc(100% - 35px),
            0% 0%
          );
          .cover {
            clip-path: polygon(
              0% 0%,
              100% 0%,
              100% 100%,
              35px 100%,
              0% calc(100% - 35px),
              0% 0%
            );
          }
        }
      }
    }
  }
}
