<gb-loader *ngIf="isLoading; else contentModel"></gb-loader>
<ng-template #contentModel>
  <div class="rules-notifications-wrapper">
    <div class="col-1">
      <span class="title">About our company</span>
      <span class="subtitle">What If They Let You Run The Hubble</span>
      <span class="text">
        “The moment you think of buying a Web Hosting Plan, you know one thing –
        So many choices, which one to choose? Whether you would want to choose
        Shared Linux Packages or a Unix Package or do you want to go for a
        shared windows package or packages reseller for hosting? Trust me, a lot
        of individuals stand confused when they see that there are thousands of
        plans yet very little resource of comparison. <br /><br />
        Click on the link website-hosting-reviews-free and you would know why a
        lot of people consider this link as top notch hosting reviews or hosting
        directory site. When you spend some time in this website, you would
        realize that a lot of information presented in this website is extremely
        unique only to this site and you would not find this anywhere else.
        <br /><br />
        1. At one shot, you would be able to sort these plans by any of the
        following factors – Price, rating, Web Space, Data Transfer.<br />
        2. With such a high range of flexibility in filtering of data, you could
        almost be assured of making the right choice as long as your hosting
        company is considered. <br /><br />
        • At one shot, you would be able to sort these plans by any of the
        following factors – Price, rating, Web Space, Data Transfer.
        <br />
        • At one shot, you would be able to sort these plans by any of the
        following factors – Price, rating, Web Space, Data Transfer.
        <br />
        • At one shot, you would be able to sort these plans by any of the
        following factors – Price, rating, Web Space, Data Transfer.
        <br />
      </span>
    </div>
    <div class="col-2">
      <div class="table-wrapper">
        <div class="table-cover">
          <div class="table-header">
            <span *ngFor="let column of columns">{{ column.header }}</span>
          </div>
          <div class="table-body">
            <div *ngFor="let item of tableData" class="row">
              <span *ngFor="let column of columns">{{
                item[column.field]
              }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
