<div class="content">
  <div class="wrapper">
    <div class="cover">
      <div class="header">
        <span class="title">All</span>
        <div class="currency">
          <div class="currency--cover">USD</div>
        </div>
      </div>
      <div class="line"></div>
      <div class="data">
        <div class="data__row">
          <span class="data__row--title">Comission</span>
          <span class="data__row--value">0%</span>
        </div>
        <div class="data__row">
          <span class="data__row--title">Process time</span>
          <span class="data__row--value">Instant</span>
        </div>
      </div>
    </div>
  </div>
</div>
