@import "src/mixins/styles-mixin";
@import "src/styles/colors";

.content {
  width: 100%;
  height: 100%;
  min-width: 256px;
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.25));
  .wrapper {
    clip-path: polygon(0% 0%, calc(100% - 8px) 0%, 100% 8px, 100% 100%, 8px 100%, 0% calc(100% - 8px), 0% 0%);
    border-radius: 5px;
    padding: 1px;
    background: $border-gradient-middle;
    .cover {
      clip-path: polygon(0% 0%, calc(100% - 8px) 0%, 100% 8px, 100% 100%, 8px 100%, 0% calc(100% - 8px), 0% 0%);
      display: flex;
      flex-direction: column;
      padding: 10px;
      border-radius: 5px;
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      background: $info-card-bg;
      row-gap: 10px;
      .header {
        display: flex;
        justify-content: space-between;
        .title {
          color: $white;
          font-size: 0.9em;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        .currency {
          @include squad-small;
          width: 45px;
          height: 20px;
          padding: 1px;
          background: $green;
          &--cover {
            @include squad-small;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background: $smooth-green;
            font-size: 0.9em;
          }
        }
      }
      .line {
        height: 1px;
        width: 100%;
        background: linear-gradient(
          to right,
          rgba(0, 0, 0, 0) 0%,
          #dcb567 40%,
          #dcb567 60%,
          rgba(0, 0, 0, 0) 100%
        );
      }
      .data {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        row-gap: 10px;
        &:last-child {
          margin-bottom: 5px;
        }
        &__row {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          &--title {
            color: $smooth-white;
            font-size: 0.75em;
          }
          &--value {
            font-size: 0.85em;
            font-weight: 800;
          }
        }
      }
    }
  }
}
