<div class="content" (mouseenter)="toggleAuth()" (mouseleave)="toggleAuth()">
  <div class="content__user" [ngClass]="{'jump': !isAuthOpen}">
    <div class="content__user--head"></div>
    <div class="content__user--body"></div>
  </div>
  <div class="content__auth" [ngClass]="isAuthOpen ? 'active' : ''">
    <gb-web-forms-modal
      [isMobile]="false"
      formType="signUp"
      title="Sign Up"
    ></gb-web-forms-modal>
    <gb-web-forms-modal
      [isMobile]="false"
      formType="signIn"
      title="Sign In"
    ></gb-web-forms-modal>
  </div>
</div>